[2013-04-28 16:15] llazzaro opened #1 "Remove eval() from code"
recurring event class uses eval()

[2013-04-28 16:19] llazzaro opened #2 "Recurrent event uses end - start difference as length"
if you want to use recurrent event the difference end - start is used and this is confuse to use for first comers.

[2013-04-28 16:44] llazzaro opened #3 "90~% unit test coverage"
Is planned to refactor Event class at least.

[2013-04-30 02:47] #1 closed, assigned to llazzaro

[2013-06-03 17:09] smcoll opened #14 "calendar_by_periods view does not properly account for current timezone"
A quick way to see this bug is to install and view the sample project (which uses America/Chicago as the TIME_ZONE).  On the Day view (/schedule/calendar/daily/example/) the day starts at 19:00 of the previous day and ends around 19:00 on the current day.  This is due to the -5 hour timezone offset, which is not being accounted for.  It's less obvious on the month view, bit if you add an event end

[2013-06-05 15:29] smcoll opened #16 "'schedule/templates' has references to media that doesn't exist"
There are multiple ways this could be resolved:

1. move 'schedule/templates' to 'project_sample' for demo purposes only, forcing users to handle their own templates
2. include a 'schedule/static' directory with the necessary files
3. make 'schedule/templates' a bit more generic and not depending on any particular media

i personally prefer a combination of #1 and #3: move 'schedule/templates' to

[2013-06-05 15:34] smcoll opened #17 "unnecessary settings file"
'django-scheduler/schedule/settings.py' should be removed.  It's not used, far as i can tell, and reflect project-level settings rather than app-level settings.  There is a settings file in 'django-scheduler/project_sample'.

[2013-06-08 02:26] #17 closed, assigned to nobody

[2013-06-12 15:42] smcoll opened #19 "schedule.models.Event._occurrences_after_generator() presumes an end_recurring_period value, which is nullable"
If an event is created with a recurrence rule but no 'end_recurring_period', Event._occurrences_after_generator() will throw a TypeError (can't compare datetime.datetime to NoneType) on this line:

[code]

Now, without an 'end_recurring_period' this will loop endlessly.  We either need to require an end for any instance with a rule, or add some sort of default for that value.  i prefer the latter.

[2013-06-12 20:17] smcoll opened #20 "global name 'delete_object' is not defined"
schedule.views.delete_event has a reference to delete_object, which is not imported, and doesn't exist in Django 1.5, i believe.  There is already a note in there to convert it to a DeleteVIew.

[2013-06-18 17:02] llazzaro opened #21 "project_sample error : conf.setting import error"

[2013-06-18 20:24] #21 closed, assigned to llazzaro

[2013-06-29 23:17] llazzaro opened #22 "CSRF verification failed. Request aborted."
The code is so old that CSRF is not verified

[2013-06-29 23:19] #20 closed, assigned to llazzaro

[2013-06-29 23:24] #22 closed, assigned to nobody

[2013-09-27 04:31] llazzaro opened #26 "Use bootstrap-calendar"
we should use this for calendar UI https://github.com/Serhioromano/bootstrap-calendar

[2013-10-16 08:45] iV1n5 opened #29 "byweekday param"
Hi, it looks like you don't support the byweekday params. From the dateutil doc you can read:

_byweekday: [...]  It's also possible to use an argument n for the weekday instances, which will mean the nth occurrence of this weekday in the period. For example, with MONTHLY, or with YEARLY and BYMONTH, using FR(+1) in byweekday will specify the first friday of the month where the recurrence happens.

[2013-10-23 18:33] thomasf opened #31 "pypi release"
Why not rename to django-scheduler in setup.py and release this to pypi?

[2013-11-08 10:12] paolodina opened #32 "MANIFEST.in missing inclusion"
Hello,
installing django-scheduler this way all is fine:

[code]

Using master.zip instead doesn't work well because it doesn't install the `static` directory.

[code]

The zip contains the static directory, but it's not added to `MANIFEST.in`.

[2013-11-08 15:14] paolodina opened #34 "/schedule/feed/calendar/1/: Exception Value: object.__new__() takes no parameters"
Hi, any idea about this exception?

[code]

[2013-11-12 18:26] #32 closed, assigned to nobody

[2013-11-30 11:04] bclermont opened #37 "Slow performance in Event.get_occurrences"
I'm not using your fork, but rather the original (old) django-schedule, and I just fix a performance issue that is also present here:

I had excessive number of SQL requests per page view under some circumstance while running `Event.get_occurrences`

https://github.com/llazzaro/django-scheduler/blob/master/schedule/models/events.py#L80

and I found the culprit was:

[code]

Adding a `.select_relat

[2013-12-15 02:48] #37 closed, assigned to nobody

[2014-01-13 14:48] gerdnb opened #39 "Daily view starts at 1:00 instead of 00:00 and ends with 0:30"
Daily view starts at 1:00 instead of 00:00 and ends with 0:30

how can i fix this?

[2014-01-13 15:22] llazzaro opened #40 "Add project badges"
- https://gemnasium.com/llazzaro/django-scheduler
- PyPI badges

[2014-01-13 21:09] #40 closed, assigned to nobody

[2014-01-30 12:45] llazzaro opened #44 "DeprecationWarning The 'execute_manager' function is deprecated"
/home/travis/virtualenv/python2.6/lib/python2.6/site-packages/django/core/management/**init**.py:465: DeprecationWarning: The 'execute_manager' function is deprecated, you likely need to update your 'manage.py'; please see the Django 1.4 release notes (https://docs.djangoproject.com/en/dev/releases/1.4/).
  DeprecationWarning)

[2014-02-14 19:43] luzfcb opened #45 "Update feature matrix of this project on djangopackages"
https://www.djangopackages.com/grids/g/calendar/
Even added a feature(Recurrence support), but I was in doubt in the other, since never used this project.

to add, just log in with the github, and click the row corresponding to the feature

[2014-02-19 15:45] #31 closed, assigned to nobody

[2014-02-21 22:28] phiychai opened #46 "How to incorporate Daily view into Homepage"
How would it be possible to incorporate the daily calendar view into the root/homepage of site?

Any help appreciated. Thanks

[2014-02-24 02:52] smcoll opened #47 "ValueError with GET request incompatible with strftime"
GET requests to the calendar referring to a year before 1900 (/calendar/workshop/?year=1899') return "ValueError: year=1899 is before 1900; the datetime strftime() methods require year >= 1900"

Web crawlers trigger this by crawling the 'previous' links ad infinitum.

[2014-02-24 02:53] smcoll opened #48 "Non-integer GET arguments for 'year' cause ValueError"
(Apparantly malicious) GET requests to the calendar with non-integer values like '/calendar/?year=/proc/self/environ' cause "ValueError: invalid literal for int() with base 10: '/proc/self/environ'"

Suppose it should return a 404 instead?

[2014-02-24 17:05] #48 closed, assigned to nobody

[2014-02-25 22:44] llazzaro opened #49 "Avoid infinite links"
calendar view permits infinite links to the past or future.

we need a way to solve this problem, for example not to show more link if no events exists in the past or future. but allow to view the link for a certain date.

[2014-02-25 23:07] #47 closed, assigned to nobody

[2014-02-27 15:42] smcoll opened #50 "feature request: swappable Event model"
i would like to be able to define my own Event model from an abstract event base model.  In this way, i could add several fields to my model without having to maintain a separate fork, as i presently do.  i know this is an undertaking, but this would have great benefit.  It would help keep the app focused on scheduling but allow users to customize their calendar experience.

[2014-03-03 04:16] #26 closed, assigned to llazzaro

[2014-04-03 18:07] jdufresne opened #51 "Update README and wiki page"
When first presented with this project, the README directs the user to the [wiki page](https://github.com/llazzaro/django-scheduler/wiki)

This page has a very scary heading: "303 See Other: This branch is not maintained." Is this true?

The wiki page then goes on to make references to **django-schedule** and not **django-scheudler**. It is hard to tell if this page is simply stale from a previous

[2014-04-18 06:09] nchudleigh opened #54 "calendar_by_periods view does not have a template calendar_by_period to call on.."
I am likely misunderstanding the process/flow here but it seems like a very blatant error

[2014-04-18 15:06] llazzaro opened #55 "Fix project status"

[2014-04-18 15:08] llazzaro opened #56 "Add a new repo for project_sample and host it on internet"
I want a live version of the project sample.
Also I want to remove project_sample from main repo

[2014-04-21 10:04] opbod opened #57 "Error installing django-scheduler through pip"
It looks like a build of argparse is required that is not found on PyPi. Is this specific build needed or will any build do?

[2014-04-26 03:45] #57 closed, assigned to nobody

[2014-05-10 03:54] nchudleigh opened #60 "Suggestion- change '----' rule to 'one time'?"
just makes more sense for the front end view of things. and so you dont have to have that helper message.

[2014-05-11 14:32] #56 closed, assigned to llazzaro

[2014-05-11 14:43] llazzaro opened #61 "Python 3 support"
Create a branch to support python3 in the future

[2014-05-11 14:47] #46 closed, assigned to nobody

[2014-05-11 14:48] llazzaro opened #62 "Unit tests for period.py file"

[2014-05-11 14:56] #45 closed, assigned to nobody

[2014-05-21 01:16] llazzaro opened #64 "Review django reusable apps guide"
https://docs.djangoproject.com/en/dev/intro/reusable-apps/

[2014-06-02 18:55] rcorzogutierrez opened #65 "pypi integration???"
Any chance of adding pypi integration to enable a simple "pip install django-scheduler
"?

[2014-06-02 18:57] rcorzogutierrez opened #66 "requirements.txt"
requirements.txt create file

[2014-06-02 21:03] #66 closed, assigned to nobody

[2014-06-02 21:03] #65 closed, assigned to nobody

[2014-06-06 13:34] llazzaro opened #67 "problem of circular importation problem when using CHECK_EVENT_PERM_FUNC"
I want to set CHECK_EVENT_PERM_FUNC to a function I wrote in the setting.py file. However, CHECK_EVENT_PERM_FUNC is supposed to a callable function.

[2014-07-02 19:31] kwando1313 opened #70 "Missing static files"
Where are the static files? It seems that when I plug in the app there is no 'static' folder to get the images such as 'add.png'

[2014-07-02 21:26] johnmhenry opened #71 "Calendars for one site visible on all sites"
It would be trivial to add multi-site support for calendars so that a calendar for one site is not visible on other sites.  Is this a feature that anyone else might use?  I can provide code.

[2014-08-05 12:07] gummz opened #73 "Version conflict for South"
I'm using South 1.0. When I try to install:

pip install django-scheduler

I get a version conflict. It says it expects version 0.84 of South. Can I not use this with South 1.0?

[2014-08-12 01:35] #73 closed, assigned to nobody

[2014-08-13 03:20] llazzaro opened #74 "use django-bower for static dependencies"

[2014-08-23 02:43] llazzaro opened #75 "create project: django-scheduler-views"
this will contain static files, templates and views that will use this project.

[2014-08-28 03:01] #75 closed, assigned to llazzaro

[2014-09-11 00:42] llazzaro opened #81 "Django 1.7 and south requirement"
Seems that django 1.7 cames with south, so we need to remove this but with backwards compatibility.

[2014-09-28 15:33] teolemon opened #82 "feed link is broken in template (thus resulting in 404)"
In the sample templates, in the calendar view, there is a list of links
All of them adapt well automatically to the custom url structure I've chosen excepted the "Feed" link.
Example:
http://127.0.0.1:8000/calendar/calendar/daily/admin1s-calendar/
http://127.0.0.1:8000/schedule/feed/calendar/upcoming/1/
The culprit seems to be line 23.
https://github.com/llazzaro/django-scheduler/blob/f70daf45643c

[2014-10-06 12:57] syndbg opened #83 "Fresh install: Can't migrate/syncdb ?"
I pip installed and added `schedule` in INSTALLED_APPS.

However when trying to run syncdb/migrate I get:

[code]

If I have to guess, I'm probably missing some app to add or it's just not working?

P.S I'm using Django 1.6.5

[2014-12-15 16:12] #81 closed, assigned to nobody

[2014-12-15 16:13] #61 closed, assigned to nobody

[2014-12-17 13:11] llazzaro opened #93 "support authorization on view calendar/events"

[2015-01-06 00:29] rcooke commented on #70
I'm also trying to get a feel for this project using your default urls and views.

But they are calling for missing static CSS and JS files - JqueryUI static bits and even icon images.

I tried importing the stuff in the sample project, but there are a bunch of images being called for that do not exist in the sample project.  (schedule/css/image/ui-bg_glass_20.....png  (very long file names)

Also

[2015-01-06 11:35] Hiieu opened #97 "Installed App, now what?"
Please add to the documentation example step-by-step guide how to make django-scheduler working.

[2015-01-11 13:31] quixoth22 commented on #97
Yes, please do. I could help with the writing if needed.

[2015-01-11 16:09] llazzaro commented on #97
I will try to write a tutorial soon.

Here is a  sample project https://github.com/llazzaro/django-scheduler-sample

[2015-01-21 21:55] llazzaro opened #100 "Add bootstrap to the project"
migrate all templates to use bootstrap

[2015-01-22 23:41] akittas opened #101 "Add Python 3 Compatibility to the project"
Many thanks for this wonderful app, just wanted to ask if it is possible to make it compatible with Python 3.4.

[2015-01-23 01:46] llazzaro commented on #101
Hi,
 merged this pull https://github.com/llazzaro/django-scheduler/pull/91 a while ago for python 3 compatibility.
check the master or the lastest version on pypi

[2015-01-23 01:46] #101 closed

[2015-03-03 02:10] aleontiev opened #109 "get_occurrences does not respect timezone across DST boundaries"
It seems that there is no way to generate occurrences that are timezone-aware; for example, if a user creates an Event with a weekly recurrence rule and start = "2015-03-04T09:00:00-08:00" (9am PST), the generated occurrence for 2015-03-11 will be 1 hour off because dateutil.rrule does not support timezone in its icalendar implementation.

Has anybody come across this and found a solution that doe

[2015-04-23 15:18] jgrisell opened #112 "select_related checked in django 1.8"
Hello,

i just installed django 1.8 and I have the error below. Not sure why but it seems to come from line 89
Event.objects.select_related('occurrence').get(pk=self.pk)
of the file schedule/models/events.py

select_related are now checked according to https://docs.djangoproject.com/en/1.8/releases/1.8/

Any way of fixing this ?
Thank you very much

params = self.as_sql()
  File "/backoffice/local

[2015-05-01 03:44] llazzaro commented on #112
The only thing I know is that the relation is on the other side and for some reason django 1.8 fails with select_related.

the line that fails makes some test fails in django 1.8 (not yet supported).

For the record, the line that fails is a performance improvement. I can remove it but it will impact on performance.

I will check django 1.8 changes (if possible) to see why this fails.

[2015-05-14 08:42] akaariai commented on #112
Each event can have multiple occurences, but select_related works only for single valued relations. Maybe prefetch_related would work here?

[2015-05-14 18:08] nwaxiomatic commented on #112
How does one remove it for now? I can deal with the performance while in development.

[2015-05-14 18:36] llazzaro commented on #112
this is the line
https://github.com/llazzaro/django-scheduler/blob/master/schedule/models/events.py#L89

test are failing with django 1.8

[2015-05-16 03:21] #112 closed

[2015-05-16 03:21] llazzaro commented on #112
removed optimization since it breaks with django 1.8.

[2015-05-16 03:21] llazzaro commented on #112
version is now 0.7.5

[2015-05-18 09:32] palfrey opened #113 "All of the example dates are from 2008/2009"
Example data should ideally be around the current month/year, whatever those are, for ease of finding them!

[2015-05-19 21:10] nwaxiomatic opened #114 "Calendar permissions do not restrict viewing access"
Currently the CALENDAR_CHECK_PERM_FUNC is not used to create a view decorator for calendars.

I would like to add a variable called CALENDAR_VIEW_PERM = Boolean
and a decorator @check_calendar_permissions

which allows the admin to decide if the views (as well as editing) is restricted based on the calendar permissions

[2015-05-19 21:26] #114 closed

[2015-05-21 03:47] llazzaro commented on #83
please use pip install django-scheduler==0.7.3

upgrade to django 1.8 if you can!

[2015-05-21 03:47] #83 closed

[2015-05-21 03:48] llazzaro commented on #93
implemented at https://github.com/llazzaro/django-scheduler/pull/115

[2015-05-21 03:48] #93 closed

[2015-05-21 03:49] llazzaro commented on #70
Ok, I will add again the static files.
My idea was to use bower, but this will increase the learning curve of the project

[2015-05-21 03:50] #55 closed

[2015-05-21 03:51] llazzaro commented on #3
67% right now.

[2015-05-21 04:09] llazzaro opened #116 "fix deprecation warning for django 1.9"
Users/leonardolazzaro/.virtualenvs/scheduler/lib/python2.7/site-packages/schedule/models/calendars.py:8: RemovedInDjango19Warning: django.contrib.contenttypes.generic is deprecated and will be removed in Django 1.9. Its contents have been moved to the fields, forms, and admin submodules of django.contrib.contenttypes.
  from django.contrib.contenttypes import generic

/Users/leonardolazzaro/.virtu

[2015-05-21 04:18] #113 closed

[2015-05-21 19:41] nwaxiomatic opened #117 "REQUEST - View Classes"
Is there any reason to avoid rewriting all views as classes?

Views as functions is quite outdated and makes it quite difficult to subclass or modify anything outside of changing the actual scheduler code.

[2015-05-21 20:07] llazzaro commented on #117
the code of django-scheduler is very old and when it was written Class based views didn't exist (I think)

[2015-05-21 20:09] nwaxiomatic commented on #117
I already rewrote half of them as class-based, I could do a pull request later today.

I did this so that it would be easier to have modal event editing, should I also add that?

[2015-05-21 20:11] nwaxiomatic commented on #117
or perhaps just a popup window

[2015-05-22 04:35] nwaxiomatic opened #119 "FullCalendar support enhancement and documentation"
I am probably going to add this as the main calendar wrapper/viewer
http://fullcalendar.io/
is this a feature that might be wanted in general?
will keep updated on progress

[2015-05-22 04:36] nwaxiomatic commented on #119
I also want to add either modal or popup windows for event editing

[2015-05-28 07:16] dekoza commented on #97
How's the tutorial going? :)

[2015-05-28 07:18] dekoza opened #120 "Please document Models"
Models documentation would be much appreciated.

[2015-06-01 22:10] nwaxiomatic opened #121 "timezones and adding events"
how does this work?

it seems to add (UTC - settings.TIME_ZONE) hours to the session time when adding the event

what are the rules for which time zone the calendar assumes, etc

[2015-06-02 12:35] dekoza commented on #50
Subclassing `Event` as `MyEvent` is not an option in many cases. Consider this example:
Suppose I subclassed Event as MyEvent and Occurrence as MyOccurrence. In both models I added some fields and methods. Then let's say I have MyOccurrence instance. If I access its `event` attribute I am accessing Event instance, not MyEvent instance (as Occurrence defines field `event = ForeignKey(Event)`). This

[2015-06-02 17:43] llazzaro commented on #50
in your case plase check the answer here, I think we need to add more fields to suport that case http://stackoverflow.com/questions/2949674/django-inheritance-with-foreignkey-field

[2015-06-03 05:36] dekoza commented on #50
I'm making some improvements on the lib for a project. I'll post some pull-requests after I'm done.

[2015-06-03 15:24] smcoll commented on #50
We could implement something like Django handles the swappable User model: have a `EVENT_MODEL` setting referring to the class (defaults to Event) and also a method for returning that class like `get_event_class()` which could be leveraged from time to time.  The FK on Occurrence could be written like `event = ForeignKey(settings.EVENT_MODEL)`.

@dekoza  Curious; have you found a use case for a cu

[2015-06-04 06:45] lnxg33k opened #122 "NoReverseMatch Exception"
I have the following exception when I try to view the calender.

[code]

[2015-06-05 21:10] rouxxx commented on #119
Integrating FullCalendar would be great ! Also pop-up/modal window for editing.
Any date in mind ?

[2015-06-09 05:21] nwaxiomatic commented on #119
probably late next week, I might do it as a separate set of views because of the bootstrap compatibility.

not sure if people would be mad about needing bootstrap

[2015-06-09 09:33] rouxxx commented on #119
Great ! One question (I should open a new thread but you talked about views :p) : is that possible to display the calendar inside the admin ?

[2015-06-09 13:50] llazzaro commented on #119
please check this view for fullcalendar https://github.com/llazzaro/django-scheduler/blob/master/schedule/views.py#L338

I added that view to have some fullcalendar support

[2015-06-09 13:51] llazzaro commented on #119
here is the ticket https://github.com/llazzaro/django-scheduler/issues/26

probably current fullcalendar support is not documented or incomplete?

[2015-06-11 04:06] nwaxiomatic commented on #119
ah! I was wondering what that view was for. there should definitely be some documentation on the matter.

[2015-06-11 04:09] llazzaro commented on #119
The docs were never updated! I will try to do it

[2015-06-13 14:55] llazzaro commented on #122
How are you including the urls of scheduler in your project? are you using namespace?

This is a bug, but I was able to reproduce it using a namespace in the sample project. I want to know if there are more ways to reproduce it.

[2015-06-15 22:27] rouxxx commented on #119
Thanks for the answers.

One more question: what are the current limitations of the FullCalendar integration ?

@nwaxiomatic i'm looking forward to see the results ;)

[2015-06-16 15:59] nwaxiomatic commented on #119
I've been a bit behind on the rest of my site, so either end of this week or early next week. Its sort of the last thing I'll be working on...

[2015-06-19 02:26] nwaxiomatic opened #123 "Doubling of occurrences when modified"
I understand this is a design feature, not a bug, but perhaps it could be modified.

It happens to be a bit annoying in my use case since occurrences are often hard saved.

Currently if I hard save an occurrence, then I change the event to a different time globally and then change the recurring date, it will remake the occurrence in the spot I hard saved, effectively rescheduling something I alrea

[2015-06-19 10:05] mail6543210 opened #124 "Is argparse still needed?"
Since this app requires `Django>=1.7` in `setup.py`, and `Django>=1.7` drops the support of `Python<2.7`, and `Python>=2.7` has `argparse` as a stdlib, do we still need `argparse`?

If yes, could it be upgrade to newer version?
(that is, unpinned to `argparse==1.1`, or pinned to `argparse>=1.1`)

[2015-06-21 19:16] #116 closed

[2015-06-30 19:37] NylonPython opened #127 "Static Files: CSS and jQuery"
Please put your static CSS and images into the repo. I'm not sure why you don't have it?

[2015-07-01 16:01] rouxxx commented on #119
@nwaxiomatic any news ? no hassle, just to know to evaluate the amount of work of my next weeks ;)

[2015-07-01 16:10] nwaxiomatic commented on #119
@rouxxx Hey so I worked on it a bit but had some serious issues and decided to put it off a bit longer. Here is what I found:

I tried incorporating django-fm which I had successfully used for adding modal popups to the base scheduler template fine and dandy.

However, whenever using django-fm on top of FullCalendar, it renders the modals behind the calendar making it quite useless. Not sure where

[2015-07-01 16:11] nwaxiomatic commented on #119
Not looking forward to rewriting an entire ajax popup app

[2015-07-04 14:28] llazzaro commented on #127
We are going to start using django-bower for jQuery.
And we are going to start using bootstrap.
Most of the people uses scheduler for the model and not for the templates.

if you want old images, css and js please use this site_media directory https://github.com/llazzaro/django-scheduler-sample/tree/master/project_sample/site_media

I hope to have some free time next weeks to merge some pull reque

[2015-07-04 19:45] NylonPython commented on #127
By updating the legacy templates, do you mean actually using a table to display the schedule? That would make life a lot easier for people using the bootstrap responsive tables.

Also, do you know a way to make a view that will display all the calendars that are in the database? I'm trying to make a group scheduling app for study rooms at my university and I am able to get all the calendars to dis

[2015-07-05 15:35] nordbit opened #128 "day tables in px issue"
I'm about this comment it schedule tag:
[code]
I vote against " width", "width_slot", "height " and after that positioning table with css relation "relative-absolute".
It giving me totally mess in my project with incorprated templates. Almost all frontend frameworks and web project are responsive. Better define tables with percent values in css.

I'm against jquery-ui as well, it is a big holy cow

[2015-07-07 18:24] NylonPython commented on #122
@llazzaro is there any fix for this?

[2015-07-09 10:34] rouxxx commented on #119
@nwaxiomatic I'll see what I can do. Would you be available if I need some help ? it would be great.

[2015-07-09 10:44] rouxxx opened #129 "Should an occurrence be an event ?"
Hi all,

I am currently trying to integrate full calendar to my project and I have a problem displaying occurrences of events.

My event is the 1st of July with a daily repetition up to 31st of July.

When loading the week view on the 1st of July, my event and its next occurrences of the week are well displayed. Then I switch to the next week and no displayed occurrence.
I display the month view o

[2015-07-10 16:16] nwaxiomatic commented on #129
You cant treat occurrences as events because of never-ending events. That would cause your server to fill up instantly! Instead occurrences are calculated at view time and only stored if modified. This means its just an issue with which occurrences are being calculated to be shown in that case.

[2015-07-10 16:18] nwaxiomatic commented on #119
Hey @rouxxx we should plan on a time to meet and discuss how to go through it.

Do you use gitter?

[2015-07-11 03:47] llazzaro commented on #122
@NylonPython  are you using url namespace? I wasn't able to reproduce this issue unless I set a url namespace.

in your project urls.py how are you including the url of scheduler?

[2015-07-11 05:19] #127 closed

[2015-07-11 05:20] llazzaro commented on #127
done.
please read the new instruction at Readme or here http://django-bower.readthedocs.org/en/latest/installation.html

after adding djangobower to your settings, execute python mange.py bower install and it will install bootstrap and jquery.

scheduler base template will generate status jQuery.js and bootstrap.css status urls to djangobower ones.

[2015-07-11 05:34] llazzaro commented on #49
a check is needed in the next_url template tag

[2015-07-11 08:38] rouxxx commented on #119
@nwaxiomatic not until now but I can start ;)

Let me know when you are free

[2015-07-11 14:33] #64 closed

[2015-07-11 14:54] llazzaro commented on #70
please read the new instruction at Readme or here http://django-bower.readthedocs.org/en/latest/installation.html

after adding djangobower to your settings, execute python mange.py bower install and it will install bootstrap and jquery.

scheduler base template will generate static jQuery.js and bootstrap.css urls to use djangobower files.

[2015-07-11 14:54] #70 closed

[2015-07-11 16:40] llazzaro commented on #49
A new setting was added to set the upper and lower limit SCHEDULER_PREVNEXT_LIMIT_SECONDS
the default value is two years from now.

[2015-07-11 16:40] #49 closed

[2015-07-12 15:35] #74 closed

[2015-07-13 18:57] nwaxiomatic commented on #119
@rouxxx Lets meet tomorrow at 12 EST.
message me at nicholasdwoodward@gmail.com before then

[2015-07-13 19:34] llazzaro commented on #119
after you meet I will delete some comments. please use gitter from here https://gitter.im/llazzaro/django-scheduler?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2015-07-16 00:49] llazzaro commented on #128
Hi,

I made an initial refactor, removing all template tag parameters except the period.
Old code was doing some crazy algorithms to show the events proportionally to the size visually.

New code will show the event if it happens inside the time slot.

I like much more the old idea, but I want to keep thimgs simple by now. Old code was difficult to understand.

I am not closing this issue since th

[2015-07-21 03:28] nwaxiomatic opened #130 "_x_ preventing pull requests on Windows"
There is a LibGit2Sharp related file in the repo that prevents Windows users from making pull requests or something.

its called _x_. and its loacted in schedule/static/images

[2015-07-21 03:43] llazzaro commented on #130
done removed that file. I think static/images is going to be removed

[2015-07-21 03:43] #130 closed

[2015-07-21 04:33] nwaxiomatic opened #131 "edit and delete icons on bootstrap event view"
the edit and delete buttons arent working on the new bootstrap edit and they have the same icon.

[2015-07-21 04:44] nwaxiomatic commented on #119
I basically have this working, but Gut for Windows is breaking and I can't get a pull request made :(

[2015-07-22 03:53] llazzaro commented on #131
will review this soon

[2015-07-22 03:53] #128 closed

[2015-07-22 03:56] llazzaro commented on #124
I couldn't find any reference. removing this dep.

[2015-07-22 03:58] #124 closed

[2015-07-23 22:46] llazzaro commented on #119
can you paste in gitter the git error?

[2015-07-29 21:27] nwaxiomatic opened #133 "Add timezone property to calendar"
It might be helpful to add a timezone parameter to the calendar model so that each calendar can have a different default timezone

[2015-07-29 21:39] nwaxiomatic opened #134 "Template _day_cell_big.html missing"
this template does not exist but is referenced in templates/schedule/_day_cell.html, at line 14

[code]

[2015-07-29 21:43] nwaxiomatic commented on #121
offered solution to add timezone field to calendars

[2015-07-30 03:34] #121 closed

[2015-07-30 06:38] nwaxiomatic commented on #119
I sent a pull request

[2015-07-31 05:47] llazzaro commented on #16
we are using django-bower now

[2015-07-31 05:47] #16 closed

[2015-08-03 23:23] llazzaro opened #135 "Use python wheels"
Wheels are the new standard of python distribution and are intended to replace eggs. Support is offered in pip >= 1.4 and setuptools >= 0.8.

[2015-08-09 13:14] oelium commented on #134
create the file templates/schedule/_day_cell.html and add this

[code]

[2015-08-09 13:22] oelium opened #136 "daily_table repat in calendar_day.html"
Hi,
in templates/schedule/calendar_day.html it is written twice
[code]

[2015-08-10 17:41] lawhorkl opened #137 "Stopping Duplicate Events/Occurences?"
When you create an occurrence with the same start time and the same end time, the application does not check for other events where there might be a conflict with groups reserving certain times.

My main problem is obviously trying to detect these cases and I was thinking maybe using the Periods within the model some how to check?

psuedocode:

    #create period using parameters of occurrence/eve

[2015-08-14 21:58] nwaxiomatic commented on #134
thanks!

It's still rendering the events as tons of little events, though.

I've moved on to the fullcalendar view, but the base view should probably still work in general

[2015-08-20 16:48] V1ce opened #138 "Include compact calendar in a page"
Hi,

I try to include the compact calendar in some page of my site but i dt find how except with an iframe or an ajax request (jquery .load() function for exemple), i dt think i need this for do that.
I undestand how include calendar but just alone, like the sample project, but i want the compact calendar like a portion of some page. can you help me with this?

Thanks !

[2015-08-21 13:09] V1ce opened #140 "NoReverseMatch error when delete item with grappelli"
Hi,

I use grappelli and i get a NoReverseMatch error when i try to delete item, i try with basic admin and thats work, same with the project sample.

Request Method: POST
Request URL: http://localhost:8000/admin/schedule/event/

Django Version: 1.8.3
Python Version: 3.4.2
Installed Applications:
('grappelli',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'dj

[2015-09-02 00:29] nwaxiomatic commented on #137
I'm working on a an update that will allow you to check event containment and intersection, keep posted.

[2015-09-02 00:33] nwaxiomatic opened #141 "Event rrules do not properly work"
I have a fix that I will push, but basically given this case:

Start: Saturday August 15
End Recur: Tuesday September 15 2015
Rule: Weekly, bymonthday:29,30

The event will recur on both Saturday September 29 and Sunday September 30

This is an issue with rrule, or something, but I made a function that checks for these issues and corrects.

[2015-09-02 03:26] llazzaro commented on #141
can you add an unit test for that case?

[2015-09-02 04:08] nwaxiomatic commented on #141
there is also an issue with events where the rules, etc make the event non-existent. I also corrected for that.

I am working on writing some functionality to test whether an event is contained in another event. This is useful for the case when you have "availability" events and you want to see if a possible event resides in that availability.

I'll add a test for the final pull request.

[2015-09-02 11:13] #140 closed

[2015-09-06 15:28] llazzaro commented on #134
fixed! sorry for the delay.
there is still some work to be done with the new styles

[2015-09-06 15:28] #134 closed

[2015-09-08 09:15] oelium commented on #134
No problem ;)

[2015-09-23 20:20] ccosse opened #143 "totally wrecked my system"
I just installed django-scheduler and it took down 5 working websites with all kinds of new dango and python errors regarding modules not found.  Thanks a fucking lot!

[2015-09-23 20:46] llazzaro commented on #143
if you want you can create a new bug with your errors and django version.

please use proper lenguage

[2015-09-23 20:46] #143 closed

[2015-10-01 22:03] NylonPython commented on #137
Any update on this?

[2015-10-28 14:45] llazzaro opened #147 "Use factoryboy for unit tests"

[2015-11-22 23:02] techdragon opened #151 "Is django-bower a 'hard' dependency?"
It seems like django-bower is being used to ensure that a current version of otherwise 'normal' jquery and bootstrap are available in order to have something to base the JS and CSS of the calendar UI on.

Django-Bower is an easy way to ensure you have a 'non python dependency' sorted out ... but instead of it being just a recommendation in the install documentation, after the requirement for Jquer

[2015-11-23 01:47] llazzaro commented on #151
I think you are right.
however, should scheduler ship jQuery and bootstrap ?

[2015-11-23 04:35] techdragon commented on #151
I think it was a very good idea to not bundle jQuery and Bootstrap in your own code, its one less thing you have to keep up to date when working on the code. Both of them are very stable libraries that shouldn't be problematic for anyone to obtain.

Since Bootstrap and jQuery both have dozens of public CDN mirrors that encourage you to use their already hosted versions, the simplest way to deal wi

[2015-12-01 10:39] nsomaru commented on #137
bump, any update on this? I'd like to help out as I need this functionality

[2015-12-01 17:28] nwaxiomatic commented on #137
I really have no idea what would be the best algorithmic way to deal with this... I spent some time trying to figure out what would work best, but couldn't really decide.

Possibilities:
Number each occurrence sequentially, update sequence ids when event changes and then only make new occurrences where there are sequence ids missing?

[2015-12-05 20:58] jdufresne commented on #117
This looks like it was resolved in commit 4662959adbd1ba8ab82eba7584bd8382c39f3228. Perhaps this can be closed.

[2015-12-10 04:49] #151 closed

[2015-12-10 04:50] llazzaro commented on #117
thanks. closing this issue

[2015-12-10 04:50] #117 closed

[2015-12-20 11:15] DandyCoder opened #166 "ImportError: cannot import name generic"
Hello,

I'm adding on the scheduler to an existing project of mine as an app.

However, after install through pip and adding to the installed apps in my settings, I'm getting the following:

Unhandled exception in thread started by <function wrapper at 0x7f5fe962d8c0>
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/django/utils/autoreload.py", line 226, in wrapper

[2015-12-20 15:44] llazzaro commented on #166
the current version on pypi is not compatible with django 1.9.
you could try to install the dev version with pip install git+https://github.com/llazzaro/django-scheduler.git

remeber that you are installing the dev version of scheduler.

[2015-12-21 00:25] DandyCoder commented on #166
Thank you. I only discovered this morning that this was moved in 1.9 completely. Which explains everything!

I'll close this.

[2015-12-21 00:26] #166 closed

[2016-01-04 03:08] fengdy opened #167 "do not know how to use it"
I just use django-scheduler in my project, but i can not find how to use it, though i read all doc in project

[2016-01-04 05:23] llazzaro commented on #167
Hi,
django-scheduler is missing a tutorial. I will try in a future to add a tutorial.
did you installed the project from pypi?

here are some references
http://stackoverflow.com/questions/27239783/how-to-use-django-scheduler-app-in-existing-app

[2016-01-12 16:19] gabn88 opened #168 "Event.objects.all() gives error in ./manage.py shell"
Traceback (most recent call last):
  File "<console>", line 1, in <module>
  File "/home/Desktop/test_django_scheduler/django-scheduler-sample-master/lib/python3.4/site-packages/django/db/models/query.py", line 141, in __repr__
    return repr(data)
  File "/home/Desktop/test_django_scheduler/django-scheduler-sample-master/lib/python3.4/site-packages/django/db/models/base.py", line 496, in __repr_

[2016-01-12 17:21] gabn88 commented on #168
Issue seems to be resolved in Django 1.8.8!

[2016-01-12 17:21] #168 closed

[2016-01-13 19:48] gabn88 opened #170 "Model instances without primary key value are unhashable"
Trying out the well written help I get the following error with the Event.get_occurences method, if I do:

         occurrences = event.get_occurrences(datetime.datetime(2008,1,1), datetime.datetime(2008,3,2))

  File "<console>", line 1, in <module>
  File "/home/gerben/Desktop/test_django_scheduler/django-scheduler-sample-master/src/django-scheduler/schedule/models/events.py", line 105, in get_o

[2016-01-13 20:04] gabn88 commented on #141
Any news on this?

[2016-01-13 20:06] nwaxiomatic commented on #141
Never got around to writing tests, but you can check out the original pull request for the algorithm

[2016-01-13 20:07] nwaxiomatic commented on #141
I guess I never pushed those either, oops.

I can post the code later today

[2016-01-13 20:09] gabn88 commented on #141
That would be great. I'm just getting to know this module as my last resort to get my customers recurring events without end date wish implemented in a properly fashion

[2016-01-13 20:10] nwaxiomatic commented on #141
https://github.com/nwaxiomatic/brownstonetutors/blob/master/Schedule/models/events.py

[2016-01-13 20:17] gabn88 commented on #141
Great! I will check it out!

[2016-01-13 20:20] gabn88 commented on #141
If I understand it correctly, your way to integrate this app was to copy the necessary bits and build of you own Scheduler app of it? I was thinking about doing it the same way.

[2016-01-13 20:22] nwaxiomatic commented on #141
You definitely will need to build another app that references this app.
Only use the schedule app for the base time things.
On Jan 13, 2016 3:20 PM, "gabn88" <notifications@github.com> wrote:

[2016-01-14 08:24] gabn88 commented on #170
Fixed by https://github.com/llazzaro/django-scheduler/pull/171

[2016-01-14 08:24] #170 closed

[2016-01-21 18:51] lawhorkl commented on #167
I'd be willing to write up a simple tutorial to set up the basic templates and get the system working out of box. I struggled with this too in the beginning. @llazzaro if you'd like some help with it let me know

[2016-01-24 07:22] pkw0818 opened #173 "Do I need to install javascript to use js files?"
Hi, like title

Do I have to install javascript or java to use js files in sitemedia?
Thanks.

[2016-01-24 13:08] llazzaro commented on #173
Hi,

This project does not use java at all.

It's required to have jquery and bootstrap the following paths of your static folder
jquery/dist/jquery.js
bootstrap/dist/js/bootstrap.js

[2016-01-24 13:08] #173 closed

[2016-01-24 13:14] llazzaro commented on #167
Hi!

the tutorial should be written in the documentation https://github.com/llazzaro/django-scheduler/tree/develop/docs

I never have time to do it and I need help with this!

[2016-01-30 15:49] Visgean opened #174 "Django 1.9 release"
Tests are working for the 1.9 version but the released version is very old so it does not support it.

[code]

[2016-01-30 19:45] Visgean opened #175 "Delete wiki"
I think all documentation / non code information should focus in documentation. Having two sources of information (well actually three as there are more information in README regarding installation than in docs)

[2016-01-30 19:55] Visgean commented on #175
I think that all the information from readme should be moved to docs. Than you can write readme in rst format and include the documents from docs. That way both of these documents will be actualized.

[2016-02-04 03:16] llazzaro commented on #175
done! wiki was disabled.

[2016-02-04 03:16] #175 closed

[2016-02-04 03:17] llazzaro commented on #174
Hi,

I'm planning to release on pypi by the end of April.

However you can install with pip using this command:

pip install git+https://github.com/llazzaro/django-scheduler.git

[2016-02-04 17:41] jdufresne commented on #174
Hi @llazzaro, just curious, why wait until April? Is there existing work to finish before this can be released? If so, are the remaining TODO items documented somewhere? Is there some other concern?

[2016-02-11 21:18] RossLYoung opened #178 "Argparse==1.1 dependency still on Pypi"
Setup.py on PyPi still contains the argparse==1.1, six, and future requirements.

[2016-02-15 17:59] GammaSQ commented on #167
Implementing the documentation on models would help out a lot.
(I would equally much appreciate a documentation on Events. What they do, how they are used, how to create/manipulate them, ...)

[2016-02-17 23:34] llazzaro commented on #174
@jdufresne I will like to release it now but I didn't have time to test the latest code in develop branch.

[2016-02-17 23:35] llazzaro commented on #167
I want to do a refactor to make the models usage simplier. I hope to have some time free to do this in the next months.

[2016-03-05 07:51] john924xps opened #181 "Default template code must be altered as some HTML tags are escaped"
In a lot of the calendar templates, the following template tag is invoked to display arrows for the next/previous calendar view:

`{% prevnext "tri_month_calendar" calendar periods.month "F Y"%}`

However, although this works on a local server, bring this online will result in the HTML tags of the function `prevnext` to be escaped (at least for Heroku, which I used). Thus, the HTML code will appea

[2016-03-06 22:15] llazzaro commented on #181
I will try to avoid using autoescape off and see if there is other way to solve the issue.

[2016-03-07 18:58] nwaxiomatic commented on #167
There is also the issue that you will almost always have to create another app on top that references these models, similar to the profile/user model paradigm in django.

[2016-03-07 18:59] nwaxiomatic commented on #131
fixed this in recent pr

[2016-03-07 18:59] nwaxiomatic commented on #141
fixed in recent pr

[2016-03-07 19:05] nwaxiomatic commented on #123
currently Gcal uses this method for editing events:

**Only this event**: similar to the occurrence edit here
**All in event**: this not only changes the event model, but also goes through and changes every persisted occurrence associated to the event
**All after this**: this truncates the old event to stop persisting at the time of the current occurrence, it then creates a new event from the new

[2016-03-10 00:24] llazzaro commented on #131
thank you!! I will review the pr soon

[2016-03-12 03:29] #119 closed

[2016-03-12 03:30] #137 closed

[2016-03-12 03:30] #141 closed

[2016-03-14 16:31] igor-kramer opened #183 "Use SCHEDULER_BASE_CLASSES"
In manage.py shell i write this
`>>from django.utils.module_loading import import_string`
`>>from django.conf import settings`
`>>baseStrings = getattr(settings, 'SCHEDULER_BASE_CLASSES', None)`
`>>[import_string(x) for x in baseStrings]`
`[<class 'studio.models.AbstractModel'>]`

But when i try to import Occurence from my models.py
`from schedule.models import Occurrence`
i catch this ImportError

[2016-03-14 22:32] llazzaro commented on #183
please check the order of your INSTALLED_APPS in the project settings.py. you probably need to have first 'studio' and then 'scheduler'

[2016-03-22 18:00] shubh3794 opened #192 "Add support for use over restful APIs"
Hey, I am trying to implement a timeline base schedule for my users but my app is strictly based over restFul services, could you guide me inthe right direction on how to proceed

[2016-03-22 20:21] llazzaro commented on #192
currently there is not rest api for scheduler.
It was planned to use django-restful to add some api views in the project but the issue remains open.

However if you wan to implement by your self you should try to learn the current model of the project and use it as it was any other project.

if you want tell us which info do you need from the api to add that to the current open ticket.

thanks

[2016-03-31 18:07] nwaxiomatic commented on #192
check out the api for the fullcalendar viewer for now, its at the bottom of views.py

[2016-03-31 18:45] nwaxiomatic opened #193 "Recurring events spanning daylight savings changes don't display properly"
I'm having a hard time pinning this issue down, but when using timezones, if you create a recurring event which spans over a daylight savings change the system will show the wrong time for the occurrences generated. Example:

Event(start = 12pm March 6th, end = 1pm March 6th, rule = weekly, end_recurring = March 14th)

Occurrences show up in the admin as:
occurrence_1 = Occurrence(start = 12pm Mar

[2016-03-31 19:05] nwaxiomatic commented on #193
Also I am using "America/New York" as my timezone, if that helps.

[2016-04-16 16:43] nordbit commented on #181
https://docs.djangoproject.com/en/1.9/howto/custom-template-tags/#filters-and-auto-escaping

[2016-04-28 03:46] nipuniitg opened #194 "How to set default timezone for all the calendars?"
Hi django-scheduler developers,

Thanks for this incredible scheduler. I wanted to know how to set the default timezone for all the calendars/ individual calendar. Please point me to the documentation if it already exists.

Thanks

[2016-04-28 19:57] slorg1 commented on #19
Proposed an implementation of a fix for the described issue: https://github.com/llazzaro/django-scheduler/pull/195

[2016-04-29 03:13] sophianachiba opened #197 "Rest API"
Hi guys,

any chance this can work with django rest api?
are there serializer for the models?

thanks!

[2016-05-03 14:04] Braintelligence commented on #174
Ok so we have may now. Is the code Django 1.9 compatible?

[2016-05-04 14:52] llazzaro commented on #174
have anyone tested master or develop branch? I didn't have time to test it.
After checking if the branch is ok I will release the version on pypi.

[2016-05-04 15:10] jdufresne commented on #174
Which branch should we be testing against exactly, master or develop? Which branch will be the next release?

[2016-05-04 15:24] llazzaro commented on #174
develop. I just fixed unit tests with a refactor on occ generator (infinite loop).

[2016-05-04 15:48] #181 closed

[2016-05-04 15:49] #178 closed

[2016-05-04 15:49] llazzaro commented on #178
please install 0.8.0

[2016-05-04 15:52] llazzaro commented on #174
done I sent 0.8.0 to pypi!

If someone finds a bug on 0.8.0 I will update to 0.8.1.

I fixed some quick bugs that I found today.

[2016-05-04 15:52] #174 closed

[2016-05-05 01:16] sophianachiba opened #198 "example."
Hello,

I'm looking at the test code in order to use the package on the backend.
let's say I want to create a recurring event and I want it weekly and every Tuesday and Wednesday.
How would you do that?

Thanks!

[2016-05-05 12:49] llazzaro commented on #198
Here is an example of scheduler usage https://github.com/llazzaro/django-scheduler-sample
However we need to improve documentation to answer your question.
take a look into the models.py of this project and also on the test_events.py

[2016-05-11 14:57] dpcr opened #199 "test"

[2016-05-11 14:57] dpcr opened #200 "asdf asdfa"

[2016-05-14 21:33] sophianachiba opened #203 "Admin"
Hello,

is there a way to see the event object from the django admin page?

[2016-05-14 21:54] llazzaro commented on #203
Yes sure. you have to add the models to the django admin as any other application.

[2016-05-14 22:49] sophianachiba commented on #203
My syncdb failed that was my problem.

[2016-05-14 22:49] #203 closed

[2016-05-16 01:11] sophianachiba opened #204 "rule params"
Hello,

is there any documentation on how to input rrule params?
I'm doing it directly from django admin view.

[2016-05-16 01:16] sophianachiba commented on #204
I have figured it out.
If you want to have a rule for occurs every wednesday you would do.
For the field rule.params: byweekday:2

Any additional parameters need a ";"
rule.params: byweekday:2;count:3

[2016-05-16 01:51] sophianachiba opened #205 "occurence order"
Hello,

when doing a event.get_occurrences, is this supposed to return an ordered list?
In my case the last element is the earliest occurence, this is the output I get.

Occurrence: May 22, 2016 to May 23, 2016,
Occurrence: May 29, 2016 to May 30, 2016,
Occurrence: June 5, 2016 to June 6, 2016,
Occurrence: June 12, 2016 to June 13, 2016,
Occurrence: June 19, 2016 to June 20, 2016,
Occurrence: June

[2016-05-16 02:25] llazzaro commented on #204
thanks for giving the answer, this will be used in docs

[2016-05-16 02:25] #204 closed

[2016-05-16 02:29] llazzaro commented on #205
get_occurrences returns a list.
the order of the results could be a bug in the code!

[2016-05-17 07:42] jayfk commented on #198
I can't seem to find them in the linked project.

[2016-05-17 22:54] rodolphopivetta opened #206 "OverflowError: Python int too large to convert to SQLite INTEGER"
I'm trying to use Calendar with my User model where i use UUID as pk, and I can't create calendar, I believe, because [this line](https://github.com/thauber/django-schedule/blob/master/schedule/models/calendars.py#L226) where the object_id is saved as integerfield. In my case, this cause the error:
[code]

I suggest the field ```object_id``` can be a CharField, as explained in the "Primary key typ

[2016-05-18 13:12] llazzaro commented on #206
could you send us your class? I want to use it in an unit test.
I will merge your pull request after reviewing it

[2016-05-18 13:14] rodolphopivetta commented on #206
Do you want a merge request test or just an inline code here?

[2016-05-18 13:17] llazzaro commented on #206
I will love to have an unit test that will guarantee that no information is destroyed.
But an inline code here is enough! I will try to add more unit tests in the project soon and I will use it later (the inline code)

[2016-05-18 18:16] llazzaro commented on #206
how long is your UUID?

[2016-05-19 16:19] rodolphopivetta commented on #206
By default, django UUIDField is max_length=32. [Ref](https://github.com/django/django/blob/master/django/db/models/fields/__init__.py#L2347)

[2016-05-29 00:36] llazzaro commented on #197
I reopened this issue to add django rest framework

[2016-05-29 00:39] llazzaro commented on #122
closing for inactivity. this seems to be an issue with and old django version

[2016-05-29 00:39] #100 closed

[2016-05-29 00:42] llazzaro commented on #198
sorry, take a look to models.py and test_events.py in this project not on the sample.
use the sample to know how to use it.
we need people to write docs!
thanks!

[2016-05-29 00:42] #198 closed

[2016-05-29 00:58] llazzaro commented on #205
@sophianachiba I tried to reproduce this issue with the test -> 8872280, however I wasn't able to do it.
could you give us more information or update out test?
here is the test I wrote:

[code]

[2016-05-29 01:00] llazzaro commented on #194
This is not yet supported.
You could use dates with timezone to know the timezone of a calendar now.

[2016-06-05 06:56] sophianachiba commented on #205
I will need to find the example again.
I'll get back to you once I run into the problem again.

[2016-06-29 21:18] drodger opened #220 "Permission failure should raise a 404, not redirect to login"
A user denied access to an occurrence/event/calendar is redirected to the login page.
I suggest changing this to raise a 404 error instead. A user can be logged in, but still not have access to an event - redirecting them to the login page seems a poor way to handle this.

I can put in a PR for this if the change it agreed.

[2016-06-29 23:19] llazzaro commented on #220
Agree on avoiding redirect. Do you think that a 403 (Forbidden) is better than a 404?

[2016-07-01 21:44] jdqx opened #221 "FullCalendar: Missing static file: schedule/css/modal.css"
@nwaxiomatic @llazzaro

schedule/templates/schedule/fullcalendar.html line 8 calls for 'schedule/css/modal.css' which does not exist in the develop repo or nwaxiomatic's fork. I tried installing django-fm and using its modal.css, but this does not work because the missing modal.css had been customized.

[2016-07-01 21:57] jdqx opened #222 "FullCalendar: django.core.urlresolvers.NoReverseMatch: Reverse for 'Scheduler_sessionoccurrencemodifier_change'"
`django.core.urlresolvers.NoReverseMatch: Reverse for 'Scheduler_sessionoccurrencemodifier_change' with arguments '(12345,)' and keyword arguments '{}' not found. 0 pattern(s) tried: []`

Occurs at lines 16 and 24 of schedule/templates/fullcalendar_script.html

[code]

Looks like missing admin code.

@nwaxiomatic

[2016-07-02 08:09] jdqx commented on #222
This issue mysteriously went away, for now. Will report if it reappears again and will explain the cause. Anyone else reproduce this with fullcalendar.io templates?

[2016-07-02 15:24] nwaxiomatic commented on #222
Hey, so I have another helper app that I use in conjunction with this one to add more properties to the events, and this is some code I had for that that I didn't see and modify. The actual code should be

[code]

I believe, let me know if that works.

[2016-07-02 15:28] nwaxiomatic commented on #221
Hmm, let me update my local fork. I have made a lot of changes with the modals and I don't think they need any special css anymore.

[2016-07-02 15:43] nwaxiomatic commented on #221
Try updating the fullcalendar templates from here, also try updating the schedule.views file (keep a backup). Let me know if you run into any issues, I'd like to merge in my updates. Again, I use this in conjunction with another really customized app and I try to keep the code separate, but I def make some mistakes there sometimes.

https://github.com/nwaxiomatic/django-scheduler/tree/master/sched

[2016-07-03 00:45] jdqx commented on #221
Tested the new templates and views. Before, everything worked except for the modals, but now there are problems at redirectToCreateEvent() in fullcalendar_script.html. The calendar slug used for eventCreateURL is hard coded to your site, so I changed it to match my setup. Still, redirectToCreateEvent() is not producing any URL parameters. This may be triggering the js error: "fullcalendar.js:8564

[2016-07-03 01:31] llazzaro commented on #221
thanks for the bug report I will review this

[2016-07-13 08:12] joed4no commented on #197
I am also looking at using this for a rest api... is there an update on this?

[2016-07-13 16:19] drodger commented on #220
Sorry for the delay, vacation :-).
I think a 403 gives more information than you want to give out - that there IS an event there, you just are not allowed to see it. A 404 helps prevents that information from leaking to an attacker.

[2016-07-25 04:26] rodxavier opened #226 "get_occurrences() returning occurrence before start datetime"
I have an event `23 July 2016 00:00:00 to 23 July 2016 23:59:59` and it has a daily recurrence rule with param `byweekday:5,6` which I think should represent Saturdays and Sundays.

Now, when I call `event.get_occurences(start, end)` with start `25 July 2016 00:00:00` and end `01 August 2016 00:00:00`. The method returns a list of three occurrences.

[<Occurrence: July 30, 2016 to July 30, 2016>,

[2016-07-25 12:24] stratoukos opened #227 "end's timezone is not normalized in Event._get_occurrenece_list"
In `Event._get_occurrenece_list`, the rrule's `dtstart` is normalized to `start`'s timezone, but the `end` parameter's is not. This can lead to wrong results if `end` (or the event's `end_recurring_period` if it's smaller) is in a different timezone.

[2016-07-26 11:15] stratoukos opened #229 "document dateutil's rule's interval parameter"
According to the [comment in schedule/models/rules.py](https://github.com/llazzaro/django-scheduler/blob/5b8fef1/schedule/models/rules.py#L38-L50) `interval` is not among the supported properties in Rule.params.

However, if you add an interval in the params string, it is correctly passed to dateutils and occurrences are generated properly. You should probably add it to that comment as a supported

[2016-07-28 19:03] #227 closed

[2016-07-29 16:46] stratoukos opened #231 "recurring events with multiple "byweekday"s return wrong occurences"
An event with multiple `byweekday`s (eg weekly every Friday and Saturday) will return less occurrences than it should when calling `get_occurrences`.

The reason seems to be `_event_params` since it overrides the rule's params with params derived from the event's `start` date.

[2016-07-29 18:25] bcjarrett commented on #222
I had this issue earlier today, and your updated `{% url %}` paths fixed it for me

[2016-08-05 19:40] nwaxiomatic commented on #221
Hey just a heads up, I finally got to looking at this code as I am having the same issues for the admin view version. I'll let you know when I find the problem.

[2016-08-05 20:00] nwaxiomatic commented on #221
The issue arises from
[code]

Are the url patterns you have updated properly? Are you passing in a year, month, day and view type into the template? This should be done from the kwargs in the updated fullcalendar view.

Let me know!

[2016-08-05 20:48] nwaxiomatic commented on #221
OK, so the issue is that python and javascript don't get along. The view is literally passing in "None" for null to javascript so we need to add a second catch for that when getting the initial variables
[code]

[2016-08-09 20:11] TySol opened #233 "Recurring Events - Miscalculated Time Blocks"
- Recurring events won't load into the time slots they are supposed to occupy
- Often it skips time slots leaving holes in an event's time block, and usually doesn't begin on the intended start time.
- Experienced when any rrules are being applied, i.e: Daily, Weekly, Monthly, Yearly
- Bug displays in Calendar_day.html

Pictured example: This weekly-recurring event is supposed to start at 8:00 and

[2016-08-10 02:45] jheasly opened #234 "pip-installed "schedule" app "base.html" template loads before a user's"
When you pip install `schedule` it creates a working `/templates/base.html` that will load prior to any Django app `templates/base.html` and may cause a user confusion (esp. a newbie). May want to add a warning in the docs.

[2016-08-10 13:25] llazzaro commented on #234
Sorry this project is "django-scheduler". To install this project read the README.md (pip install django-scheduler) the project schedule a different one and is maintained by other people https://github.com/dbader/schedule

[2016-08-10 18:16] TySol commented on #233
I haven't yet pinpointed what is going wrong here, but the issue seems to be affecting the reccuring occurences as well:
<a href="https://github.com/llazzaro/django-scheduler/issues/231">#231: recurring events with multiple "byweekday"s return wrong occurences</a>

And as mentioned in previous issues, I've tried inputting params to match the weekday, i.e: byweekday:2

<a href="https://github.com/l

[2016-08-10 18:21] jheasly commented on #234
Right, your project is `django-scheduler`, but 'schedule' (and not `django-scheduler`) is what you add to your `INSTALLED_APPS` — that's what I'm talking about.

In any event, it doesn't change the fact that the app creates a `base.html` template that gets found by Django ahead of any user app templates, possibly creating confusion for an inexperienced Django developer.

[2016-08-10 19:00] llazzaro commented on #234
Ok I will see how to change that and don't affect old users. However adding the warning could be helpful.

thanks.

[2016-08-10 19:01] llazzaro commented on #233
ok let me know if you find the issue. an unit test could be very helpful for this case.

In the past I was going to do a heavy refactor on the models since are very difficult to use.

[2016-08-14 12:33] okrutny opened #235 "Unable to show a few hours long event with a rule on daily calendar"
I would like to specify an event which results in occurences between hours 16-21, everyday.

specifing Event.start to 16:00 and Event.end to 21:00 with "daily" frequency rule doesn't work. Only occurrences between 15:30 and 16 show up.

http://i.stack.imgur.com/wthgJ.png

the _get_occurrence_list on Event model get's called with half hour intervals.

[2016-08-14 23:04] TySol commented on #235
As mentioned in <a href="https://github.com/llazzaro/django-scheduler/issues/233">issue 233</a>, there is currently a bug with the recurring rules ("rrules"), and is unresolved

[2016-08-15 08:31] okrutny commented on #235
Thank you a lot! Are you willing to write this unit test? :>

[2016-08-17 15:12] araz-hashemi opened #236 "openURL, openEditDialog, openCancelDialog not defined"
When clicking on the edit/cancel icon of an event, it pulls up the preview slide-down (not the edit/cancel form) and the console logs an Uncaught ReferenceError : openURL/openCancelDialog not defined

e.g. see generated source

[code]

Where are these functions defined? I only see them referenced in [_event_options.html|https://github.com/llazzaro/django-scheduler/blob/develop/schedule/templates/s

[2016-08-18 03:00] llazzaro commented on #197
@sophianachiba @joed4no  could you add more info about what you need? for example urls to create calendars, events, etc? that will help a lot.
I will create a wiki page to write about which urls we need.

[2016-08-18 08:04] ogivran commented on #122
I have the same issue today calling calendar view, but using python in virtualenv and django version 1.9.2. Isn't the view url strange, for example: http://localhost:8000/admin/r/7/2/. What is r (a calendar record)?

[2016-08-18 18:16] llazzaro commented on #122
I think this could be a namescape issue. could you show how you are including urls in your project?

[2016-08-18 18:27] llazzaro opened #240 "Unexpected offset in event calculation for occurrence list"
On the commit ba1ce7b90f3102b14f54628e887440c7c46f2d8 it was add a subtract difference to the start.

at least the line 210 on models/events.py is affected

[2016-08-18 19:31] araz-hashemi commented on #240
This change has worked for me:
[code]

[2016-08-19 08:21] ogivran commented on #122
llazzaro thanks very much for your reply. I've just started a new project yesterday and installed django-scheduler in order to try it. So I only added an event, calendar etc. in django administration. And urls.py file contains only:
from django.conf.urls import url
from django.contrib import admin

urlpatterns = [
    url(r'^admin/', admin.site.urls),
]
Please can you tell me, if you need more inf

[2016-08-19 17:08] llazzaro commented on #236
@araz-hashemi did you find a solution to this issue?

[2016-08-19 17:09] llazzaro commented on #122
Your django urls can't resolve scheduler urls.

please check this sample urls https://github.com/llazzaro/django-scheduler-sample/blob/master/project_sample/urls.py

You need to add scheduler urls, so django can resolve them.

[2016-08-19 17:12] araz-hashemi commented on #236
@llazzaro : Well, not really, but I assumed it might have been simple ignorance on my part.
Are those functions part of some javascript dependency?
I manually added the jQuery and Bootstrap static files, so perhaps I missed some components? Do the button actions work for you?

[2016-08-19 17:25] llazzaro commented on #236
I will try to review this. You have to add jQuery and bootstrap. If I force a jQuery or bootstrap I can break something if you are using jQuery or Bootstrap.
I think that in the readme explains how to install js dependencies with django-bower.

[2016-08-21 19:06] ogivran commented on #122
Thank you very much Leonardo.
Now it's working.

[2016-08-22 04:27] #122 closed

[2016-08-24 06:47] oriregev opened #241 "iCal export of recurring events (.ics format)"
Thanks for a great app.

When I export a calendar with recurring events in ical format (a .ics file), a recurring event shows up only once when opening it with the iCal app on Mac OS X.
#### Here's the generated .ics file

#### The image below shows the event using the built-in `fullcalendar.html` template

![screen shot 2016-08-24 at 9 32 16 am](https://cloud.githubusercontent.com/assets/78669/17

[2016-08-24 07:31] oriregev commented on #222
I tried the fix suggested by @nwaxiomatic and I'm still getting the error.
I'm running on Django 1.9 in virtualenv

[code]

[2016-09-01 10:10] johnsiciliano opened #242 "Calendar coming in blank.?"
[01/Sep/2016 10:04:08] "GET /static/jquery/dist/jquery.js HTTP/1.1" 200 263767
[01/Sep/2016 10:04:08] "GET /static/jquery/dist/jquery.js HTTP/1.1" 200 263767
[01/Sep/2016 10:04:09] "GET /static/jquery/dist/jquery.js HTTP/1.1" 200 263767
[01/Sep/2016 10:04:10] "GET /static/jquery/dist/jquery.js HTTP/1.1" 200 263767
[01/Sep/2016 10:04:11] "GET /static/jquery/dist/jquery.js HTTP/1.1" 200 263767
[01/S

[2016-09-05 10:11] khvn26 opened #244 "What's the rationale behind EventRelation model?"
Just asking to clarify how justified is a separate model for defining relations.

Why not use a ForeignKey or subclass it to define a custom field?

[2016-09-05 17:28] llazzaro commented on #244
The class EventRelation allows you to relate the event model with any object.
If we add a ForeignKey to the event you need to add a specific column for each app or model.
Of course you can subclass and define a custom field, but the EventRelation allows you to do it without migrations.

[2016-09-07 15:22] llazzaro commented on #234
commit 3145c30 deletes the base template. I don't think someone is using the base.html of the scheduler project.

[2016-09-07 15:22] #234 closed

[2016-09-13 16:26] romanmendel opened #251 "Deleting and editing events"
I can not delete or edit a calendar event.
![image](https://cloud.githubusercontent.com/assets/22170024/18476312/2f3e8182-79d2-11e6-863e-067ef5fc8a00.png)
By clicking on the cross or in another area of the "Test" event opens event viewer.
![image](https://cloud.githubusercontent.com/assets/22170024/18482091/702d5e42-79e7-11e6-883e-03dc1035661d.png)

[2016-09-15 07:55] romanmendel commented on #251
When will be fixed? Really need to work...

[2016-09-15 14:31] llazzaro commented on #251
I will try to fix it soon. but remeber I don't get paid for doing this. If you want you are welcome to deposit bitcoins :).
You can also try to do a pull request with the fix and I will try to merge it as soon as possible.

[2016-09-19 07:00] Belaswan opened #252 "debugg"
Traceback (most recent call last):
  File "/usr/lib/pycharm/helpers/pycharm/django_test_manage.py", line 53, in <module>
    django.setup()
  File "/home/manorama/anaconda/envs/zero/lib/python3.5/site-packages/django/**init**.py", line 18, in setup
    apps.populate(settings.INSTALLED_APPS)
  File "/home/manorama/anaconda/envs/zero/lib/python3.5/site-packages/django/apps/registry.py", line 108, in

[2016-09-21 17:26] nwaxiomatic commented on #251
I only work on the fullcalendar view, so its out of my scope :D

[2016-09-21 23:20] rohanthacker commented on #197
@llazzaro Hey, Great work with this app!
I'm looking to do the same as @joed4no and @sophianachiba. I would be glad to help you understand the requirements you have

[2016-10-03 17:05] llazzaro opened #255 "Daily template check for bug"
in the "daily template", when an event is longer than 30minutes - let's say 1h30 - it renders 3 blocks of 30 minutes like there were 3 events with the same name (https://cdd-staging.herokuapp.com/calendar/calendar/daily/leopold/)

[2016-10-08 05:10] folz opened #257 "Should a Period's get_persisted_occurrences be limited to their timeframe?"
Right now, Periods return all persisted Occurrences, even if they're outside the time frame of the period:

[code]

This was unexpected to me, as I assumed that get_persisted_occurrences would only return Occurrences within the period. For example, I thought that `Day(events).get_persisted_occurrences()` would only return persisted Occurrences from today, even if the events had been recurring for

[2016-10-10 09:13] Echel8n commented on #222
I have the same problem with django 1.9 and 1.10.
What information can I git to you for solving the bug ?

[2016-10-12 23:01] JMurph2015 commented on #167
It would be super great if someone could write some documentation on this, a proper basic usage section especially!  I currently am attempting to integrate it into one of my projects and haven't had much success yet.

[2016-10-17 15:06] RaphaelGeode opened #258 "Static File folder missing"
Hi, after an install of your module, I see that static schedule files aren't in its own folder.
And JS file are missing.

[2016-10-17 16:18] llazzaro commented on #258
Could you specify which files? did you follow that bower steps on the README?
I think that the JS deps needs to be improved.
Scheduler can't provide a jquery or bootstrap version since it could clash with your project libs.

[2016-10-17 17:40] RaphaelGeode commented on #258
fullcalendar.js are missing in schedule/static

[2016-10-17 22:32] radyz opened #259 "App title translation"
Can you append the translation hook to be able to change the language of the title in the admin interface:

apps.py

[code]

**init**.py

`default_app_config = 'schedule.apps.ScheduleConfig'`

I tried doing it myself but changes were not working, I may be missing some build step :<

[2016-11-08 09:19] salvorapi opened #261 "Completed event vs Expired event"
Hi,

is it possibile to  mark a event as completed ?
I think can be helpful to have a function to get all expired event.

Salvo.

[2016-11-11 21:00] llazzaro commented on #82
I review this. I added a test and updated the template to use reverse for urls.
However, please check that your settings.py has the right settings for SITE_ID and yout Site model is correclty populated since django feed requires it,

[2016-11-11 21:00] #82 closed

[2016-11-15 09:32] rhblind opened #262 "TypeError on "byweekday:0" Rule param"
Hi, I'm getting TypeError on [events.py, Line 341](https://github.com/llazzaro/django-scheduler/blob/develop/schedule/models/events.py#L341) when using a Rule with a single argument, ie. `byweekday:0`. The method is trying to iterate an integer, because the `Rule.get_params()` method is not returning a list of values if there's a single argument.

I've got a fix ready which will make `Rule.get_par

[2016-11-24 17:08] llazzaro commented on #258
ok merged into develop. Will be released under 0.8.2

[2016-11-24 17:08] #258 closed

[2016-11-24 17:10] llazzaro commented on #258
for anyone having issues please see how it was fixed in the example.
Django scheduler uses django-bower to install js library deps.
We don't want to ship jquery or bootstrap to avoid clashing with your own js libs.

[2016-11-29 11:29] Ideje opened #264 "Last month friday rule"
pure rrule works fine:

`from dateutil.rrule import rrulestr
from datetime import datetime

rule_string = "RRULE:FREQ=MONTHLY;BYDAY=FR;BYSETPOS=-1"

rule = rrulestr(rule_string)

# Get the next occurrence
rule.after(datetime(2016,11,1))

# Get all the occurrences in December
rule.between(after=datetime(2016,11,1), before=datetime(2017,12,31))`

output:

[datetime.datetime(2016, 12, 30, 12, 27, 20)

[2016-11-30 16:34] jwinzer opened #265 "Typo 'persisted_occurrenes' prevents caching"
Name parameter is misspelled preventing cache to work. Should be 'persisted_occurrences'

https://github.com/llazzaro/django-scheduler/blob/develop/schedule/periods.py#L104

[2016-12-02 14:23] lggwettmann commented on #167
Same here. I have no clue how to start to make it work. Especially if I do not want to use the bower implementation. A startup tutorial would be amazing.

[2016-12-03 19:07] llazzaro commented on #167
@lggwettmann check the https://github.com/llazzaro/django-scheduler-sample, it could help.
About using bower, I will take that in mind. I don't want to ship jquery and bootstrap since it will clash with your js libs.

[2016-12-03 19:07] llazzaro commented on #167
I keep saying I will write a tutorial when I have some freetime, hope to have it soon!

[2016-12-03 19:08] llazzaro commented on #265
Good catch!

[2016-12-03 19:16] #265 closed

[2016-12-14 22:25] mpaolino commented on #222
Same here, Django 1.10, django-scheduler 0.8.2

[2016-12-14 22:26] sushovan23 opened #266 "how can i change the regex for url matching for slug name"
Hello,
I have integrated your application and it's working great.
I came across an issue which is mainly because my slug names also contain numericals and spaces.

In my own application view and have made the slug url as: ?P<calendar_slug>[\w-]. instead of ?P<calendar_slug>[-\w]+ which is used everywhere in urls.py of schedule. Could you let me know a way where I can change the urls in my applicat

[2016-12-15 22:37] lggwettmann opened #267 "Off Topic: User friendly dateutil.rrules?"
Hey guys,

this might be slightly off topic. How have you solved the user-unfriendliness of these rrules?

Are there any packages or libraries which help to solve that? I'm looking for a 'translator'-app from userfriendly input (think 'creating recurring events in google calendar'-alike) to rrules? Any tips?

How have you solved that?

[2016-12-20 17:58] llazzaro commented on #266
Yes, avoid including the schedule urls and use a custom one. The first Idea I have is to just copy the https://github.com/llazzaro/django-scheduler/blob/develop/schedule/urls.py to your project and fix the urls, then include that urls_schedule.py to your project.
Your are free to add urls like you want like this:
[code]

Good luck

[2016-12-20 17:59] llazzaro commented on #222
I hope to have a fix for 0.8.3 soon. I will give priority to this issue.

[2016-12-22 14:33] salvorapi opened #268 "Event with rule and USE_TZ flag to False"
Hi,

in my django app I've  created a Calendar with two Event:

-  one normal with start and end date
- a event an associated rule (Rule(frequency = "DAILY", name = "Daily"))

Now, my project have USE_TZ = False.
When I try to do:

`my_calendar.occurrences_after(date=timezone.now()).next()`
or
`my_calendar.occurrences_after(date=datetime.datetime.utcnow()).next()`
or
`my_calendar.occurrences_after

[2016-12-30 10:00] spoetnik opened #270 "calendar_slug as unique"
As Calendar objects can be retrieved by their slug, shouldn't the calendar slug-field be set to unique?

    slug = models.SlugField(_("slug"), unique=True, max_length=200)

[2016-12-30 21:11] tiltec commented on #267
I just found this library, could that be helpful? https://jkbrzt.github.io/rrule/

[2017-01-03 18:57] llazzaro commented on #270
Several views confirm your idea. it seems that the unique is missing.

[2017-01-04 17:10] llazzaro commented on #240
https://github.com/llazzaro/django-scheduler/pull/271 should fix this issue

[2017-01-04 17:10] #240 closed

[2017-01-04 17:10] llazzaro commented on #205
check https://github.com/llazzaro/django-scheduler/pull/271

[2017-01-04 17:10] #205 closed

[2017-01-04 17:20] mpaolino commented on #233
This should be solved by https://github.com/llazzaro/django-scheduler/pull/271

[2017-01-04 17:29] mpaolino commented on #226
This should be addressed by https://github.com/llazzaro/django-scheduler/pull/271

[2017-01-04 17:31] mpaolino commented on #235
This should be addressed by https://github.com/llazzaro/django-scheduler/pull/271

[2017-01-04 17:44] mpaolino commented on #255
AFAIK this is by design. Templates do not contemplate the case where events span across slots, also there is an event occurrence query for every slot which makes it fairly inefficient. To solve this the logic should be a little different. Client-side code and template should request all occurrences of the events on the complete timespan that will be displayed, only once per event and templates sho

[2017-01-04 18:14] #235 closed

[2017-01-04 18:14] #226 closed

[2017-01-04 18:14] #233 closed

[2017-01-04 18:16] mpaolino commented on #264
I'm currently debugging this issue for personal project reasons. BTW parameters for rules take a slight different format under django-scheduler

[code]

[2017-01-04 18:51] mpaolino commented on #39
This bug is probably is probably deprecated as its too old, but I'll explain what I did to customize my calendars for future reference. Start, end and slot duration on the web calendars are governed by the parameters passed to the daily_table template tag defined [here](https://github.com/llazzaro/django-scheduler/blob/develop/schedule/templatetags/scheduletags.py#L49).

AFAIK the templates that u

[2017-01-04 18:56] mpaolino commented on #39
And yes, three config values for these would be great!

[2017-01-04 20:46] chrillux commented on #236
I experienced the same problems. From what I've seen, it looks like these functions were removed in commit:

https://github.com/llazzaro/django-scheduler/commit/e181737988fd750d28f68b6180bb87d1a4e3d0a4#diff-ea616e02916d349b42d0fb830adaf77e

If I put the removed functions in schedule/templates/schedule/_event_options.html, I could edit and delete one time events, i.e not a recurring event (! occurr

[2017-01-05 01:53] llazzaro commented on #236
All js code in templates was deleted since it was duplicated.
I will add those function to .js file.
Also the jquery-ui dep is missing.

[2017-01-05 03:10] mpaolino commented on #2
@llazzaro I see that in the code but from an users perspective I'm not sure what you meant.

[2017-01-05 03:14] mpaolino commented on #264
I managed to correct this issue on https://github.com/llazzaro/django-scheduler/pull/272, yet the provided example with dateutil seems incorrect. This is the month of November 2016:

[code]

As you can see the last Friday of 2016-11 is on the 25th, yet dateutil fails to generate that occurrence, I haven't dig too much into this any pointers are welcome.
However django-scheduler now works as expect

[2017-01-05 12:19] mpaolino commented on #262
This is fixed in #272

[2017-01-05 12:21] mpaolino commented on #29
Fixed on #272

[2017-01-05 12:25] mpaolino commented on #34
Isn't this already fixed? Maybe close it? @llazzaro (I'm just trying to be helpful)

[2017-01-05 12:37] mpaolino commented on #231
@llazzaro Isn't this fixed?

[2017-01-05 14:00] llazzaro commented on #34
Should be fixed

[2017-01-05 14:00] #34 closed, assigned to nobody

[2017-01-05 14:03] llazzaro commented on #2
@mpaolino the user is the programmer in this case.
 When I was using scheduler a lot, I was planing to do a new model for recurrent events since using the end - start.
I think I will close this one, I don't want to touch the model anymore.

[2017-01-05 14:03] #2 closed

[2017-01-05 14:04] #29 closed

[2017-01-05 14:04] #262 closed

[2017-01-05 14:25] mpaolino commented on #2
Like yourself, I don't like the models nor most of the logic underneath but this concept should now be more easy to grasp. Do you think the small changes on #271 should close this? Refactored  "difference" for "duration" which implies time, changed a bit the logic on the event model and added much needed comments.

[2017-01-05 20:38] mpaolino commented on #109
This is actually a limitation of pytz based on a implementation decision of dateutil ([see PEP-431](https://www.python.org/dev/peps/pep-0431/) It just does not work for tzinfo timezones with daylight time saving. Example, two datetimes, same zone only one in PST, the other in PDT, if converted to UTC they should have a 1 hour difference. The generated datetimes even land 7 minutes sooner than they

[2017-01-06 14:06] llazzaro commented on #193
closing as duplicate.

[2017-01-06 14:06] #193 closed

[2017-01-06 14:47] mpaolino commented on #109
Second though. There is a way to work with pytz that will make this work correctly, using localize as its being used in the code right now. I created a unit test for this and it actually passes. So this should not be an issue.

@aleontiev my guess is you`re creating the datetimes that are passed to Event (and feed the rrules) in a way its not supported by pytz, hence the generated datetimes in the

[2017-01-06 15:05] mpaolino commented on #193
@nwaxiomatic please check #109 and the recommendation made to the ticket author and let me know if this solves your issue.

[2017-01-09 18:07] sushovan23 opened #274 "How to edit particular occurrence of an event from ui"
Hello,
I'm using the openduty project from github which extensively uses django-scheduler for all the events/calendar. I want to understand how to edit particular instance of an event.
Right now I make an event as:
[code]

In UI, there is a javascript function openDetail in html where I'm displaying the calendar view using the scheduletags month_table as below

[code]
I have my methods to edit eve

[2017-01-13 18:34] sushovan23 commented on #274
This issue can be closed. It was misunderstanding in my part to create the event with correct recurrence rule. now I'm able to edit particular occurrence from the daily calendar view.

[2017-01-13 18:34] #274 closed

[2017-01-17 21:30] mpaolino opened #277 "Sub Periods don't get their parent's timezone"
I have to say this one was a doozy, there are just too many places where dates are timezone converted. These might be related to a number of other issues.

## TL;DR

``Period`` needs to include its timezone info when requested to generate sub Periods, otherwise some recurrences rules fail because a recurrence parameters (like week day number) in a given datetime in UTC might be different from othe

[2017-01-22 23:44] Lucianovici commented on #183
I'm also getting this `ImportError`, although I put my application before the `schedule`.

BTW: Is there a clean way to extend only one model. I need to extend the Event model only, adding two foreign key fields to it.

Thanks! Keep up the good work.

[2017-01-23 11:24] friendka commented on #222
@oriregev you got such error as Occurrence model is not registered in admin section

[2017-01-23 12:04] #222 closed

[2017-01-23 12:07] #277 closed

[2017-01-23 13:18] Lucianovici commented on #183
Well, it seems like the `ImportError` was normal, because the module I was importing, contained some models inheriting from the `schedule.models` - so I remove all my models and worked as expected.

Moreover, if anybody is interested to just extend specific classes, here is a PR:
https://github.com/llazzaro/django-scheduler/pull/280

[2017-01-24 01:39] sushovan23 opened #283 "Upgraded from version 0.7.5 to latest develop and facing issues"
Hello,
I had developed UI using old version of django-scheduler 0.7.5
But during my testing I found the issues with get occurences list. After checking the commit history I saw there was a recent fix so I took latest code and merged with my UI.
I did all migrations and updated the call to scheduletags also.
My daily view is not showing currently.

Here is the use case:
Created a daily recurrence e

[2017-01-24 12:07] mpaolino commented on #283
@sushovan23 I've tried your example on my latest ``develop`` branch and it works fine. Please notice that there where several other merged fixes after #271.

Can you please share what is the HEAD of the develop branch you're testing with? Also, are you using ```USE_TZ = True``` in your configs? If so, what timezone have you configured under ``TIME_ZONE`` (if any)?

[2017-01-24 13:09] sushovan23 commented on #283
@mpaolino Thanks for checking this. Yes I'm using latest develop at commit version  35b0654.
It has only change for quotes #281 after your fixes.
Yes I'm using `USE_TZ = True` and `TIME_ZONE = 'America/New_York'`

Let me know how are you displaying the daily calendar. I can also take from your develop branch or any version here

[2017-01-24 13:47] mpaolino commented on #283
I couldn't reproduce your bug but I found another issue, the end_recurring_period is not being honored, and the occurrences in weekly views from your test case never ends. I'm making a fix for this, lets try to take it from there as I don't want to tackle 2 issues at once. Once this is fixed I'll point you to my branch if you want to try it.

[2017-01-24 13:50] sushovan23 commented on #283
@mpaolino I missed taking some changes but now I have everything and I also found same issue which you pointed out regarding end occurrences not respected in daily and weekly view. Monthly view is good but daily and weekly view doesn't end the occurrences.

My original issue related to missing slots doesn't occur any more. Glad we both are on same page now. I will test out your fix immediately onc

[2017-01-24 14:11] mpaolino commented on #283
@sushovan23 do you mind testing my branch under https://github.com/mpaolino/django-scheduler (``develop`` branch)?. I'll make a PR if you confirm its fixed for you.

[2017-01-24 14:24] sushovan23 commented on #283
@mpaolino : I took your latest change in events.py. I can confirm that now it fixes the daily view , weekly view and monthly view.

[2017-01-24 14:27] mpaolino commented on #283
@sushovan23 thanks, I've just pushed another fix on my branch for events that don't have an ``end_recurring_period``. I'll make a PR, feel free to pull it from my branch or wait untils its merged.

[2017-01-24 14:29] #236 closed

[2017-01-24 14:31] sushovan23 commented on #283
@mpaolino I took that change

[2017-01-24 14:42] llazzaro commented on #283
@sushovan23 @mpaolino I will merge the PR soon. thanks!

[2017-01-24 15:42] sushovan23 commented on #283
@mpaolino : Found another issue while editing occurrences. I am not getting any occurrences back from get_occurrence. get_occurrence is called from edit occurrence url mapping.
get_occurrence inturn calls ```
event.get_occurrence(
            datetime.datetime(int(year), int(month), int(day), int(hour),
                              int(minute), int(second), tzinfo=tzinfo))
[code]

[2017-01-24 16:11] mpaolino commented on #283
@sushovan23 I'm learning on the go, let me check it out.

[2017-01-24 16:20] friendka opened #288 "Can't edit not persisted occurrence"
Currently django-scheduler doesn't allow to edit non-persisted occurrences in admin section (not only in admin section - i didn't find any other gui way to achive it). It's clear why - there may be endless list of occurrences.

What if this option will be realized in occurrence admin section with the help of calendars? Suppose templates/admin/schedule/occurrence/change_list.html will contain extra

[2017-01-24 16:20] mpaolino commented on #283
@sushovan23 please create another ticket with this new issue, and provide test data, it would be easy to track.

[2017-01-24 16:23] sushovan23 commented on #283
@mpaolino : Sure here is the test data:
Created one event 24 hrs duration with daily re-occurrence for a week. Then from daily calendar view and i'm clicking one any occurrence and clicking the option to edit 'This' occurrence from the popup dialog,

data in database:
[code]

Then it should go to edit occurrence page but it is failing since get_occurrence() is views.py has an issue in getting occu

[2017-01-24 16:26] sushovan23 opened #289 "get_occurrence in schedule/views.py is failing as occurrence is None"
Created one event 24 hrs duration with daily re-occurrence for a week. Then from daily calendar view and i'm clicking one any occurrence and clicking the option to edit 'This' occurrence from the popup dialog,

data in database:

[code]
Then it should go to edit occurrence page but it is failing since get_occurrence() is views.py has an issue in getting occurrence from method event.getoccurence()

[2017-01-24 16:31] sushovan23 commented on #288
There were dialogs defined in _dialogs.html which would trigger edit of single non persistent occurrences and it used to work. But now I'm facing issue with opening that dialog as get_occurrence method is not working as expected and it's reported in #289
It used to work in older version of 0.7.5 but after I upgraded I'm facing these issues.

[2017-01-24 17:29] mpaolino commented on #289
@sushovan23 I could reproduced it, but source of the problem seems to be different (at least on my tests).
Offending code is actually https://github.com/llazzaro/django-scheduler/blob/develop/schedule/utils.py#L95-L108.

That method returns None and makes this fail:

https://github.com/llazzaro/django-scheduler/blob/develop/schedule/settings.py#L24

It will raise an AttributeError exception due to

[2017-01-24 17:35] sushovan23 commented on #289
@mpaolino : you are correct. I first got that. Then I modified my app code to use previous implementation of editing occurrence which uses methods instead of class view. So I changed urls.py and used previous implementation which had method like `edit_occurrence` and that used to call `event, occurrence = get_occurrence(event_id, *args, **kwargs)`

This was old method:
[code]
I wanted to get my pr

[2017-01-24 18:30] sushovan23 commented on #289
@mpaolino  You could try the way I mentioned for editing occurrence and it will go to get_occurrence from event object to get the non persisted occurrences from event object

[2017-01-24 18:48] mpaolino commented on #289
@sushovan23 the thing is I'm not sure what is the way to go here as I'm not familiar with the rationale behind the change that broke this. I'm a very recent contributor and my changes don't touch the views at all. We'll have to wait for the owner of the project to figure what to do here.

[2017-01-24 19:18] sushovan23 commented on #289
@mpaolino : Ok  I understand.  I wanted to bring into your view the following:

https://github.com/llazzaro/django-scheduler/blob/develop/schedule/views.py#L249-L271

calls: event.get_occurrence from events.py
and that method was changed recently so I want to confirm it that event.get_occurrence would work the way it is called from here?

[2017-01-24 19:59] mpaolino commented on #289
@sushovan23 I see.

At first glance the date kwargs are passed in local time (``America/NewYork`` in your case) but without a timezone, seems to me that the tzinfo parameter is always passed (incorrectly) as UTC and all other calls receive that. Hence the wrong occurrences or no occurrences at all are returned.

If you see other view the timezone is selected to be the current one currently active,

[2017-01-24 20:31] sushovan23 commented on #289
@mpaolino : Yes I fixed that in my code and I'm passing like below now:
[code]
And in events.py
I changed tzinfo = timezone.utc to tzinfo = timezone.get_current_timezone() and
[code]
to
[code]

After passing timezone like above I was able to edit single occurrence of event. I will do some more testing today

[2017-01-24 20:56] mpaolino commented on #289
Ok, great. I found another bug on get_occurrence :-/. If any of the datetime parameters is zero it will fail to return the event. I'll update my branch and eventually make a PR.

[2017-01-24 21:04] sushovan23 commented on #289
@mpaolino  Thanks please mention it here so I can take it and test it out

[2017-01-24 21:33] mpaolino commented on #289
@sushovan23 #290

[2017-01-24 21:37] mpaolino commented on #289
Please notice that this branch has unmerged changes related to #286

[2017-01-24 21:43] sushovan23 commented on #289
Got it.. Took changes in views.py. Rest I had. Thanks

[2017-01-26 00:36] sushovan23 opened #291 "Next URL after editing occurrence should be in calendar view which is editing"
I have implemented editing occurrence of events in latest version similar to version 0.7.5
[code]
With older version it used to cancel the occurrence and return to the calender view of either daily view or weekly view of that date/week from which the action was triggered.

In the latest version it tries to navigate to event id view. Is there something which I'm missing or if not can someone tell m

[2017-01-26 00:43] sushovan23 commented on #291
Similar behavior noticed in delete event also. Any advice on how to achieve redirection to that view would be highly appreciated. Similar methods in 0.7.5 were working. I must be missing something which I'm not able to figure out yet.

[2017-01-26 03:32] llazzaro commented on #289
I will merge the pull request soon. @mpaolino you are great!

[2017-01-26 14:31] sushovan23 commented on #291
@llazzaro could you shed some light into this?

[2017-01-29 07:37] denisemauldin opened #294 "NoReverseMatch at /fullcalendar/ for 'edit_event'"
NoReverseMatch at /fullcalendar/
Reverse for 'edit_event' with arguments '('', 12345)' and keyword arguments '{}' not found. 1 pattern(s) tried: ['schedule/event/edit/(?P<calendar_slug>[-\\w]+)/(?P<event_id>\\d+)/$']
Environment:

Request Method: GET
Request URL: https://localhost/fullcalendar/

Django Version: 1.10.5
Python Version: 3.6.0
Installed Applications:
('django.contrib.auth',
 'django.c

[2017-01-31 14:01] llazzaro opened #295 "0.8.3 release 31 Jan"
31 Jan is when I will merge develop to master to tag 0.8.3.
I will release to pypi also.

I will do a manual testing of scheduler.

All issues not closed will move to next version o later versions.

[2017-01-31 14:02] llazzaro commented on #295
@mpaolino @jdufresne @sushovan23

[2017-02-01 13:55] llazzaro commented on #295
Done! pypi upload will be done at night.
Thanks for your help!

[2017-02-01 13:55] #295 closed

[2017-02-13 00:38] denisemauldin commented on #122
I'm getting the same error with Django 1.10.5

[code]

I'm using cookiecutter and my urls.py is:
[code]

I've copied a bunch of stuff from your sample project (django-scheduler-sample), but I really have no idea how to get this to work given your documentation.

[2017-02-13 03:15] llazzaro commented on #122
@denisemauldin I checked the code of django-vms. You are passing to the view arguments '('', 12345)' . It seems you are passing a tuple to the view.

Check the file https://github.com/denisemauldin/django-vms/blob/5bfc6ae05d7b24aab5b33361b407a6f1ceacf580/vms/templates/fullcalendar_script.html#L33

I think that calendar_slug is a tuple, but I didn't test your code.

[2017-02-13 03:57] denisemauldin commented on #122
@llazzaro It's trying to use the edit_event route, which requires a calendar_slug and an event_id, right?

/schedule/event/edit/<calendar_slug>/<event_id>/	schedule.views.EditEventView	edit_event

This script is trying to use JS to create the url path.  When I run it in developer tools console it seems fine.

event = {}
event.event_id = 1
var all_url = "{% url 'edit_event' calendar_slug 12345 %}".

[2017-02-14 00:18] shudson250 commented on #109
@mpaolino how can we apply this logic to Periods? Periods are useful for getting occurrences across multiple events, but if we were to use
`Period(Event.objects.all,` e_start, pacific.localize(datetime.datetime(2015, 3, 11, 10, 0)).get_occurrences()` (which is the Period equivalent of your event.get_occurrences test for this issue), the times returned are not localized.

[2017-02-14 16:21] mpaolino commented on #109
@shudson sorry for the lack of documentation. Let me know if you find any other problems with occurrences.

[2017-02-21 00:59] denisemauldin commented on #294
I think this is a red herring with some fullcalendar integration code I found.  I did get the fullcalendar example from your django-scheduler-sample to work, so I don't know if this is important for you to check on?  Feel free to close this.

[2017-02-21 13:19] llazzaro commented on #294
You should try to use the api instead of rendering js from django! thanks clocsing this one.

[2017-02-21 13:19] #294 closed

[2017-02-27 21:00] jwinzer opened #300 "get_occurrence fails for timezone-naive"
With USE_TZ == False I get this error
ValueError: MySQL backend does not support timezone-aware datetimes when USE_TZ is False

https://github.com/llazzaro/django-scheduler/blob/0.8.3/schedule/models/events.py#L220

This seems to be related to issue #268

Compare with 0.7.5 which took USE_TZ into account:
https://github.com/llazzaro/django-scheduler/blob/0.7.5/schedule/models/events.py#L117

[2017-02-28 13:35] lampslave opened #301 "OccurrencePreview does not work"
`OccurrencePreview.get_context_data` fails with exception `'OccurrencePreview' object has no attribute 'object'`.

urls.py:
`url(r'^occurrence/(?P<event_id>\d+)/(?P<year>\d+)/(?P<month>\d+)/(?P<day>\d+)/(?P<hour>\d+)/(?P<minute>\d+)/(?P<second>\d+)/$', OccurrencePreview.as_view(), name='occurrence_by_date'),`

[2017-03-07 04:26] DanielTate opened #302 "DjangoCMS"
Is this app compatible with django cms? if so how do I do about integrating it correctly.

[2017-03-07 15:12] fproldan opened #303 "has_occurrences() Error"
Hi!
I instanciated a period object and has_occurences() method raise an error.

`
period = Period(calendar.events, start, end, tzinfo=get_current_timezone())
period.has_occurrences()
`

Traceback:
[code]

Thanks!

[2017-03-07 16:07] fproldan commented on #303
My bad!
I forgot to add .all() to the list of events!

`period = Period(calendar.events.all(), start, end, tzinfo=get_current_timezone()) `

[2017-03-07 16:07] #303 closed

[2017-03-07 16:31] llazzaro commented on #303
great that you solved the issue!

[2017-03-15 20:31] Munsy commented on #302
I'm a novice so take this with a grain of salt. I've had mild amounts of success getting it to integrate with django cms. So far I've just been able to create a calendar, add an event to it, add a relation to it, etc. All being done through the admin panel.

As far as actually viewing a calendar though? No luck so far. I'm sort of just playing with it with the hopes that intuition from the example

[2017-03-23 02:57] nwaxiomatic commented on #109
This still does not address the issue when you have a recurring event whose end recurring period ends after a DST switch.

I have all event times being stored as tz_aware but they all start creating wrong occurrences after a DST switch.

[2017-03-23 12:16] mpaolino commented on #109
@nwaxiomatic can you please provide a concrete example with recurrence rule, start and end in a new issue so I can have a look at it? Please notice this issue is from 2015 (!) and probably should be closed (cc @llazzaro). Also be sure to use the latest version to date (0.8.3).

[2017-03-23 14:01] llazzaro commented on #109
@mpaolino @nwaxiomatic let's see the example before closing this.

[2017-03-24 15:40] nwaxiomatic commented on #109
This code uses the UTC timezone as specified in the models file. Perhaps I am converting timezones incorrectly?

`import pytz
import datetime
from django.utils import timezone
from schedule.models import Event, Occurrence, Calendar
from schedule.models.rules import Rule

utc = timezone.utc
start = utc.localize(datetime.datetime(2016, 10, 25, 9, 0, 0))
end = utc.localize(datetime.datetime(2016, 10,

[2017-03-24 19:36] mpaolino commented on #109
@nwaxiomatic hummm, yes, the problem is you're creating the occurrences in UTC timezone, and then converting them to Pacific, UTC is "constant" so occurrences will happily generate in constants intervals while Pacific time shifts. You need to generate occurrences using the correct timezone so dateutil generates them taking TZ shifts into consideration. In django-scheduler this translates to giving

[2017-03-24 19:39] mpaolino commented on #109
BTW, notice how `08:00:00-08:00` and `09:00:00-07:00` is exactly the same time in UTC.

[2017-03-24 19:44] nwaxiomatic commented on #109
Yes, I know. What I am saying is that standard code within the Event model defintion takes UTC to be the timezone if USE_TZ is set to True in the  django settings. It should probably be set to use the actual timezone designated in the settings as well. Sepcifically this part:

[code]

[2017-03-24 20:01] nwaxiomatic commented on #109
Or is it just that I need to make every form entry of dates to be timezone aware?

Sorry I know this could totally be my fault but it would be good to have some guidelines for people who want to use timezones in the future.

[2017-03-24 20:45] mpaolino commented on #109
@nwaxiomatic don't know the rationale behind that :-/. In my case I generate all datetimes timezone aware, but that's me. I just fixed a couple of bugs in this project so it would work for my purposes, so I'm not even sure what are the implications of such a change. Maybe the maintainer has an idea @llazzaro.

[2017-03-24 20:47] nwaxiomatic commented on #109
@mpaolino  I was under the assumption django created the datetimes fields as timezone aware if you had USE_TZ=True but maybe that is faulty reasoning.

[2017-03-24 21:11] mpaolino commented on #109
Yes you're right. It creates and stores them in UTC timezone aware dates (localtime converted to UTC). All my event dates are generated and stored in UTC, I just make sure to send the start and end datetimes with the correct timezone when I want my occurrences to generate.

[2017-03-24 21:14] nwaxiomatic commented on #109
OK, I now understand the problem, you must use get_occurrence with the proper TZ, not convert the time after you get the occurrence.

[2017-04-01 19:51] lggwettmann opened #304 "Recurring events and DST"
Hey guys,

In my Django settings, I have L10N active and the timezone set to "Europe/Paris".

When a recurring event has been set before DST started, the event time is shown accurately before the DST started. When DST has started, the event time changes to be one hour later. I know this might have something to do with timezone aware date times, but there must be an easy fix for that besides runnin

[2017-04-09 17:43] llazzaro opened #306 "review migrations in virtualenv"
btw since I want to add fields on one of the model, I had a pb with a migration: when executing ./manage.py makemigrations it generated a migration for the schedule app, i.e. directly in my virtual env (that kind of things doesn't play well when rolling out to CI or production...). I was able to tweak it with the following, but it's not very optimal. Do you have plan to make things better? I can d

[2017-04-09 17:44] llazzaro commented on #183
this PR has been merged on commits:
77ead26
35f0b8c
7861232
387fd66

[2017-04-09 17:44] #183 closed

[2017-04-10 14:46] m-vdb commented on #306
thanks!

[2017-04-11 05:12] llazzaro commented on #306
@m-vdb new version ready on pypi.

[2017-04-14 22:11] jheasly opened #307 ".get_occurrences() on ~40K Events takes ~1 minute. Is this normal?"
I've got an calendar with 42,908 events. To get the `Events` on a given day, I do similar to:

[code]
it takes just under a minute to munge through all the records (on an AWS EC2 c1.xlarge).

Is that just the way it goes or is there a better way to do it/I'm missing something obvious?

If I "pre-filter" the `Events` list, it goes much faster, but that gets fiddly when trying to filter on both one-

[2017-04-15 01:44] jheasly commented on #307
Upon closer inspection, the query I'm running is using the forerunner app, https://github.com/thauber/django-schedule, but if someone has a better way to query, I'm all ears.

[2017-04-15 10:53] adelaby opened #308 "`ImportError` when following documented "Installation" procedure"
Description
--------------
When we add django-scheduler to an existing project using Django >= 1.8 and follow the "Installation" section on `README.md` (and project docs as well), we face an `ImportError` on `'django.core.context_processors.request'`.

Reason
----------
Since 1.8 release, Django moved `context_processors` from `core` to `template`. See Django 1.8 [release note](https://docs.django

[2017-04-23 16:39] HenryMehta commented on #236
I know this is closed but I am experiencing this issue.  I've not used django-bower before and so I am probably doing something wrong but I seem to have it installed and I am unable to delete or edit events.

I am using bootstrap and jquery elsewhere within the app and I wasn't using django-bower for these.  Is it conflicting and how do I rectify the situation.  You help is greatly appreciated

[2017-04-23 20:54] llazzaro commented on #236
please can you send the output of "pip freeze" ?

[2017-04-24 06:26] HenryMehta commented on #236
This is the output from pip freeze

appdirs==1.4.3
click==6.7
decorator==4.0.11
Django==1.11
django-annoying==0.10.3
django-bower==5.2.0
django-localflavor==1.4.1
django-registration==2.2
django-scheduler==0.8.3
geocoder==1.22.3
icalendar==3.11.3
olefile==0.44
packaging==16.8
Pillow==4.1.0
pkg-resources==0.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
ratelim==0.1.6
requests==2.13.0
sim

[2017-04-27 15:36] mjramos-mahi opened #310 "Not able to set SCHEDULER_BASE_CLASSES"
Hey @llazzaro I'm trying to configure the SCHEDULER_BASE_CLASSES settings in my settings.py as follows:

[code]

but I'm getting this error:

Is there something I'm missing here?

[2017-04-27 16:09] llazzaro commented on #310
do you have any stack trace?

[2017-04-27 16:15] mjramos-mahi commented on #310
Thanks for the prompt response. Here the stack trace:

[code]

[2017-04-28 18:47] #308 closed

[2017-04-29 00:43] jdqx opened #314 "How to import the FullCalendar into a parent view/template?"
How to import the FullCalendar into a parent view/template? I shrunk down the size of FullCalendar drastically so that it will fit inside of a sidebar. The parent view is not class-based nor does it use mixins.

[2017-05-01 17:51] BalazsHoranyi commented on #268
What is the configuration for the `USE_TZ = ` option in your setting.py file?
If is set to false then you would be compaing naive and aware datetimes.
If you set it to `True` that may help.

[2017-05-03 10:39] donatogr opened #319 "Add documentation for SCHEDULER_BASE_CLASSES"
SCHEDULER_BASE_CLASSES is not reported in official docs:
http://django-scheduler.readthedocs.io/en/latest/settings.html

[2017-05-05 11:56] BakanovKirill commented on #306
This looks pretty bad.. So each time i add some field to my `MyBaseEvent` model, i will need to manually copy that migration from virtualenv and paste it to my app folder and replace the field adding method.

How can i force at least creation of these migrations in my app instead of your package?

[2017-05-06 17:01] m-vdb commented on #306
@BakanovKirill I don't think you can. What I did is generate the migration file, move it in my app `migrations` directory and rename the `AddField` operations to `CrossAppAddField`. But definitely agree we should do better. The following could work:
- split the different models in abstract models and real models
- do not import all the models in `schedule.models`
- either leave things like that an

[2017-05-07 07:31] donatogr commented on #54
The template is still not present. Has it been fixed in a branch?

[2017-05-07 13:01] BakanovKirill commented on #306
@m-vdb then for now it is better just to extend the models with OneToOne relation instead of replacing the base model class to avoid these manual migrations each time you add/change something.

[2017-05-08 01:58] m-vdb commented on #306
yes but for me I'd rather have one model representing an Event, Calendar, Occurrence, etc... rather than relationships that complexify the data model. I consider this a temporary workaround until we have better built-in inheritance in this module

[2017-05-22 17:54] Alberick0 commented on #259
This will be nice to have.

[2017-05-23 00:46] llazzaro commented on #259
can you do a pr?

[2017-05-29 16:52] jcoady9 commented on #251
Taking a guess here, but since the edit and delete icons are inside the  button wouldn't the onclick event for the button take precedent over the onclick events for edit and delete since it is the parent element? When I move the edit & delete icons out of the button they seem to work just fine.

[2017-06-09 17:51] mikekeda opened #325 "Add timezone parameter to api_occurrences"
According to this doc https://fullcalendar.io/docs/timezone/timezone/ timezone parameter can be used to get events, for example:
[code]
As I see there are no support  for timezone parameter in api_occurrences() function

[2017-06-10 20:58] i5ar opened #327 "Plural verbose name"
Is there any reason for the singular name calendar as `verbose_name_plural` in [calendars.py](https://github.com/llazzaro/django-scheduler/blob/develop/schedule/models/calendars.py#L150)?

    class Meta(object):
        ...
        verbose_name_plural = _('calendar')

Since we can create more than one calendar, can we change it to the plural?

[2017-06-11 08:16] mikekeda commented on #314
@jdqx  If you want just show a calendar you can do it with js, check https://fullcalendar.io

It's easy to connect js with django-scheduler:
[code]

[2017-06-11 08:24] mikekeda commented on #304
Had a similar case with multiple time zones (time zone per user). I'm using an api, so I created PR to add timezone param to api_occurrences() #326.

Not sure if it will useful for your case.

[2017-06-13 01:44] lggwettmann commented on #304
Thanks, I'll definitely look into that :)

[2017-06-14 17:09] llazzaro commented on #327
The line was modified 8 years ago. I think is a typo.

[2017-06-25 18:57] llazzaro opened #328 "Color of the events not changing on calendar."
I selected any color, but the calendar only shows default color (blue). How can I change the events colors? I did it in the event page but the color remains same.

reported in https://github.com/llazzaro/django-scheduler-sample/issues/25

[2017-06-25 19:17] #328 closed

[2017-06-25 19:18] #327 closed

[2017-06-25 19:21] llazzaro commented on #307
Are you using sqlite? postgres? I could try to fix this issue.
I think we need to paginate results with an generator

[2017-06-25 19:26] #319 closed

[2017-06-25 19:28] llazzaro commented on #289
Closing this issue. seems that the merge solved this bug

[2017-06-25 19:28] #289 closed

[2017-06-25 19:38] #325 closed

[2017-06-27 03:44] jheasly commented on #307
Hi @llazzaro!
I'm using PostgreSQL. I'll try paginating response tomorrow & report back ...

[2017-06-27 04:07] llazzaro commented on #307
@jheasly I will try some tests and see what I can do.

[2017-06-27 20:08] jheasly commented on #307
The lengthy wait time seems to come down to the `occurrences` method of the `Period` class. As I mentioned, I'm actually using `thauber/django-schedule`, the upstream fork of `llazzaro/django-scheduler`.

Just eyeballing the `occurrences` code for differences between the two versions, one significant difference is that in `django-scheduler`, `occurrences` calls a `_get_sorted_occurrences` method t

[2017-06-27 21:10] llazzaro commented on #307
prefetch_related_objects was added to improve performance on commit 9bfdfa30261d67f5fb88fd14f5cab24e258770dd.
The idea of pagination was to reduce the QuerySet, probably you need to check with django-toolbar all the queries generated by the app.

[2017-06-27 23:08] jheasly commented on #307
Upon closer examination of the code, it turns out I was already paginating.

One thing I'm finding that really helps cut down queries is instead of passing in all Events:

[code]
is to filter out the one-time and recurring events with:
[code]
The first part of the `Q` is supposed to filter out the recurring Occurrences that have already occurred and the second part filters out the one-time events

[2017-06-28 04:09] llazzaro commented on #307
I think the rule relationship is null when the event is one time. Also check for end_recurring_period.
Remember to add indexes, I think that thauber version lacks of indexes.
Good luck!

[2017-06-28 14:14] BakanovKirill opened #329 "Why is color_event not nullable in the last update?"

[2017-06-28 15:25] llazzaro commented on #329
It's a bad practice to have null values. https://docs.djangoproject.com/en/1.11/ref/models/fields/#null
Probably we need to add a default value.

[2017-06-28 15:25] #329 closed

[2017-06-28 16:39] BakanovKirill commented on #329
You screwed lots of people databases, so i need to add a whitespace or something like this for color and description... Seems like not a DRY solution.

[2017-06-28 16:48] llazzaro commented on #329
@BakanovKirill please be respecful. I do this for free. If you don't like the project fork it or use another one.
I approved the change but it was not made by me.
Please try to change your way of working and test new versions before using them.
I hope not to see this type of comments anymore.

[2017-06-28 16:49] llazzaro commented on #329
add reference to commit 74baa0543aaf793c8902105e5c0

[2017-06-28 23:23] jheasly commented on #307
Thanks for the tips. I'll check for the `Null` rule when trying to find one-time `Event`s.

Looks like `django-scheduler` indexes the `Event` columns of `start`, `end` and `end_recurring_period`, yes?

So it seems that once you get to a calendar of any size, you're going to want to pare down the `Event` `QuerySet` that you pass to any `Period` classes. It'd be nice if the docs mentioned/hinted at

[2017-07-05 08:13] WingedDoom opened #330 "How do I store the list of attendees with an Occurence?"
![2017-07-05 11 09 30](https://user-images.githubusercontent.com/6613809/27855327-c23ca03a-6172-11e7-8ac3-59db690b1b88.png)
I need to store a list of attendees with some of the occurences I got in the calendar. But I have no Idea how to do that. I wanted to make a new Attendees model which would have properties with Occurence and User, but I'm not sure if the desired occurence is persisted in the

[2017-07-07 10:57] tanzir71 opened #331 "Bower Components Folder?"
Installed Bower. Very confused by what is meant by components folder. No such folder in my project.

Also, I installed Django All Auth. I didn't configure the social network API's yet but when I go to log in, log out, signup page, "this is a demo of a calendar..." shows up. When I disable schedule, the log out, signup pages work.

[2017-07-08 18:20] llazzaro commented on #331
@tanzir71 bower has nothing to do with this project check the documentation of django-bower at https://github.com/nvbn/django-bower.
I know this project uses bower, but it's up to you to use it.
Django scheduler is compatible with all auth, I think it sound like a urls.py issue.
Check that in the urls.py you have a regex that will not override the other urls.
Hope it helps

[2017-07-08 18:21] #331 closed

[2017-07-08 18:21] llazzaro commented on #331
If you continue with the issues let me know and we reopen the issue, but we need a stack trace or more information.
Thanks!

[2017-07-08 18:25] llazzaro commented on #252
@Belaswan you are using https://github.com/thauber/django-schedule this project is django-scheduler, which is a fork of django-schedule.
We added fixes to the original project but you error is too old and probably.
Try install django-scheduler instead.

[2017-07-08 18:25] #252 closed

[2017-07-19 14:53] spoetnik opened #334 "SCHEDULER_ADMIN_FIELDS for 'Calendar'"
Adding Fields to the Django Admin works for the 'EventAdmin' (https://github.com/llazzaro/django-scheduler/blob/4f4ea9ad8d6c8301f181e0180a56b8fa953b6bce/schedule/admin.py#L49)

This misses for the 'CalendarAdmin' https://github.com/llazzaro/django-scheduler/blob/4f4ea9ad8d6c8301f181e0180a56b8fa953b6bce/schedule/admin.py#L16

[2017-07-29 17:59] m-vdb opened #340 "Would it be possible to customize the sorting order of periods?"
Hi there,

Would it be possible to customize the sorting order of periods? It's "hard-coded" [here](https://github.com/llazzaro/django-scheduler/blob/develop/schedule/models/events.py#L670-L671) and I need to override it. Of couse I can still re-apply `sorted()` with a different sorting order after calling `period.get_occurrences()` but for performance reasons I think it would be better to make th

[2017-07-30 16:21] llazzaro commented on #340
What do you think of passing a function on the __init__ and if defined using it on __lt__?
Probably you though more the solution, if you have a better one let me know.

If you have the time I will ove a PR!  But remember to add unit tests!

[2017-07-30 16:34] #334 closed

[2017-07-31 15:13] m-vdb commented on #340
ah yes that's a good idea, I'll do that

[2017-07-31 15:37] llazzaro commented on #340
ok! If you don't have time I can code the unit tests.

[2017-08-01 00:57] #340 closed

[2017-08-02 02:51] junctionapps commented on #330
@WingedDoom - did you figure this out? I'm asking myself the same question for minutes of each meeting. Do I create a Minutes model with a foreign key field to Occurrence, or do I create a model "Minutes(Occurrence):" and use it when saving the occurrence? Or do you create a CustomOccurrence(Occurrence): which you could store the minutes in and also use as a Foreign Key an an Attendee model (or ma

[2017-08-29 18:17] BakanovKirill opened #344 "Is there an easy way to get the most recent occurrence of the event?"
Clarification: previous occurrence

[2017-09-01 11:34] lampslave opened #345 "Please submit 0.8.6 to pypi"

[2017-09-01 20:08] llazzaro commented on #345
Will do it this weekend. Do you need any particular fix?
thanks for reporting this

[2017-09-01 20:12] lampslave commented on #345
No, I just want to use last version :)

[2017-09-12 11:48] llazzaro commented on #259
thanks!

[2017-09-12 11:48] #259 closed

[2017-09-15 14:15] jdufresne commented on #345
The added migration in commit https://github.com/llazzaro/django-scheduler/commit/3b260c886f1695f99dbfbc1d846e5966e5c36600 would be nice. 0.8.5 breaks on my CI server as it checks for no missing migrations.

[2017-09-15 23:00] llazzaro commented on #345
done
https://pypi.python.org/pypi/django-scheduler/0.8.6

sorry for delaying this.

[2017-09-15 23:00] #345 closed

[2017-09-16 01:57] jdufresne commented on #345
Thanks @llazzaro!

Would you mind publishing a wheel package as well? If you're not familiar with wheels, when you'd normally run `python3 setup.py sdist upload`, run instead `python3 setup.py sdist bdist_wheel upload`.

For more information see http://pythonwheels.com/

The advantages of wheels are:

* Faster installation.
* Avoids arbitrary code execution for installation. (Avoids setup.py)
* Al

[2017-09-16 02:55] llazzaro commented on #345
@jdufresne Strange I tough I uploaded the wheel. thanks for let me know this, it was a mistake.

[2017-09-16 03:05] llazzaro commented on #345
@jdufresne Uploaded 3.6.1 with your command instead of using twine. But I think 0.8.6 was uploaded using wheels.
I followed your steps and 0.8.6.1 was released (pipy don't let me to upload 0.8.6 again).
Let me know if the new version is ok, but I think is the same as 0.8.6

My steps for publishinh 0.8.6 were these:

python setup.py sdist bdist_wheel
twine upload dist/django-scheduler-0.8.6.tar.gz

[2017-09-16 07:11] mwsc opened #347 "Installed scheduler: I am receiving this message where am I going wrong?"
![image](https://user-images.githubusercontent.com/32009382/30509985-59565b80-9aff-11e7-94ce-28cf296b6ff5.png)

[2017-09-16 14:14] jdufresne commented on #345
Hmm. I still don't see a wheel.

If you look at the release page, https://pypi.python.org/pypi/django-scheduler, there is no `.whl` file. If you compare to Django page, https://pypi.python.org/pypi/Django/1.11.5, which does have a `.whl` file.

Does the command `twine upload dist/django-scheduler-0.8.6.tar.gz` need to also include the built wheel? Something like `twine upload dist/django-scheduler

[2017-09-16 14:42] llazzaro commented on #345
For some reason I didn't have the .whl in the dist directory. I just uploaded the file

[2017-09-16 14:43] llazzaro commented on #347
I think you are missing the static files. do you see any errors on the developer tools?

[2017-09-16 17:33] jdufresne commented on #345
Thanks!

[2017-09-16 18:53] FlorinTar commented on #302
I'm no expert either, but try following this [Django CMS tutorial](http://docs.django-cms.org/en/release-3.4.x/introduction/integrating_applications.html).

[2017-09-19 10:59] lggwettmann commented on #330
I use a model Attendees with foreign keys to User and Occurrence. When creating a new Attendee, I save the occurrence to make sure it's persisted. That also means that in this case every occurrence with an attendee is persisted.

[2017-09-22 19:56] ataktwo opened #348 "Problems working out how to display my calendar"
Hello,

I'm having some problems getting django-scheduler to do what I need to do. I have had a look at django-scheduler-sample and I'm not sure how to manipulate it for my purposes.

I'm new to django and I am looking to display a calendar on the homepage I am making.

By my understanding of it, a calendar can be called using the scheduletags.

So I am trying to display a monthly calendar on my h

[2017-09-26 20:02] as3445 commented on #304
This post seems helpful for this issue: https://serverfault.com/questions/549737/scheduled-jobs-during-hours-of-autumn-time-change

[2017-10-08 22:49] bhowmikp opened #354 "Formatting issue for calendar"
The alignment of the current year calendar is not being aligned properly as such: [image](https://imgur.com/a/hMzlY). The formatting on the other years are however being correctly displayed.

Is there something I need to do to fix this alignment issue?

[2017-10-10 06:35] jacopsd opened #355 "Overlay calendars?"
Is it possible to "overlay" calendars, ie put them on top of each other so that occurrences from several calendars can be shown in the same view?

This would be handy to combine calendars from several people or for several teams to be easily combined without the need to duplicate events/occurrences.

[2017-10-19 22:41] ggarcia24 opened #357 "Unable to use Custom Base class"
Hello!

I'm trying to create a new base event
My base class looks like this:

[code]

My config looks like this:
[code]

But whenever I try to run the`./manage.py makemigrations && ./manage.py migrate` I got a nasty error

[code]
I'm thinking that either something is missing in the documentation that I'm supposed to do, since I'm not sure why is that django migration is trying to remove the ID fro

[2017-10-20 01:42] llazzaro commented on #357
Which Django version are you using?
could you upload the migration 0006_auto_20171018_1520?

[2017-10-23 21:57] killerbarney opened #358 "Can't figure out how to install"
Maybe my Django game is weak, but I have no idea how to get this thing going. I followed the instructions and nothing shows up.

So then I tried the sample project, and then everything is out of whack there. As far as I can tell, none of the jQuery or bootstrap installed properly and who knows where the template files are, because I sure can't find them.

[2017-10-25 08:32] drmatthews opened #359 "FullCalendar version 3.6.2"
Hi
I have been playing around a bit with django-scheduler (thank you very much for making this available by the way!) and FullCalendar. I am using FullCalendar version 3.6.2 and the 'api_occurences' django-scheduler view. I've found that the way FullCalendar passes the 'start' and 'end' times to the API don't seem (to me at least) to be compatible with the datetime module. The 'start' and 'end' ti

[2017-10-27 22:23] ggarcia24 commented on #357
I'm using Django==1.11.5 and django-scheduler==0.8.6.1

Here's the migration file:
[0006_auto_20171018_1520.txt](https://github.com/llazzaro/django-scheduler/files/1423608/0006_auto_20171018_1520.txt)

[2017-11-01 20:49] Lucianovici commented on #304
I found a particular solution for this kind of issue:

- set event in summer (DST), but have recurrent occurrences in winter (no DST)
- set event in winter (no DST), but have recurrent occurrences in summer (DST)

I use [DRF](http://www.django-rest-framework.org/) so I have a serializer for Occurrence model.

I just apply an offset to the occurrence start/end, depending on the event start/end DST

[2017-11-09 18:48] fproldan opened #361 "After upgrade cannot migrate"
Hello, after upgrade to django-scheduler==0.8.6.1 I get the follow message when I try to migrate:

django.db.utils.OperationalError: cannot ALTER TABLE "schedule_event" because it has pending trigger events

Thanks!

[2017-11-12 19:43] fproldan opened #362 "Edit an occurrence in recurring event fill one extra slot"
Hello,
Editing an occurrence in a recurring event (CreateOccurrenceView is used) cause an extra "occurrence" appears in an extra slot.

If I have an occurrence from 08:00 to 09:00 (with slots of 30m) the occurrence must fill two slots, but when I save, another slot appear in 09:00 to 10:00

I fix this changing this line:
https://github.com/llazzaro/django-scheduler/blob/develop/schedule/utils.py#L

[2017-11-17 16:34] BakanovKirill commented on #361
Same here

[2017-11-17 18:34] llazzaro commented on #361
I will review the issue this weekend

[2017-11-29 09:13] amitasthana commented on #197
Hey what is the update to this?

Can someone suggest something similar to Django-Scheduler which I can use with Django Rest Framework?

[2017-11-29 09:15] amitasthana commented on #26
@llazzaro What happened about the rest api?

[2017-11-30 00:46] llazzaro commented on #26
I don't have time to do it. The project is open for pull requests.
Right now I'm only fixing bugs and reviewing pull requests.
I'm looking to add a rest api using django-restful

[2017-12-02 18:43] pszalanski opened #364 "Package broken on Django 2.0"
After an update to Django 2.0 I cannot use `manage.py`, because of the following error:

[code]

The function `reverse` was actually moved to `django.urls`.

[2017-12-02 18:48] llazzaro commented on #364
@jdufresne is working on a pull request.
https://github.com/llazzaro/django-scheduler/pull/350
I will try to release a new version soon.
Thanks!

[2017-12-02 18:56] pszalanski commented on #364
Oh, sorry, I could have looked at the PRs first. Alright then, good to know.

Am 02.12.2017 19:48 schrieb "Leonardo Lazzaro" <notifications@github.com>:

[2017-12-02 22:55] lggwettmann commented on #330
Seems this thread can be closed. :) @llazzaro

[2017-12-02 23:05] lggwettmann commented on #304
I'll try this in the coming month. Any chance of rewriting this so it not dependent on DRF?

[2017-12-03 11:37] Lucianovici commented on #304
I was wrong actually. django-scheduler is working fine _only_ if you provide the correct timezone for `Period` instances. Use the `tzinfo` kwarg.

Here is the method responsible for getting all occurrences.

[code]

Before struggling with the DST issue the Period instance had the `tzinfo` missing.

[2017-12-04 12:35] #347 closed

[2017-12-11 04:08] llazzaro commented on #364
There are some urls that are broken after django 2.0 update.
This is normal since all templates are missing namespace.

[2017-12-12 02:01] jdufresne commented on #364
@llazzaro Thanks for the report. If you have steps to reproduce, I can try to see if I can get a fix.

Apologies if I've introduced a regression.

[2017-12-12 05:08] llazzaro commented on #364
@jdufresne you didn't introduce a regression! some changes are required after upgrading to django 2.0 when using namespaces.
When using namespaces some url in templates are broken (this was reported in an old issue), however with the new django 2.0 we are forced to use namespaces in urls (I think).
Don't worry I will try to take a look to it tomorrow.
I wanted to know if you were using templates a

[2017-12-22 07:19] sasimi19 opened #367 "intergration with mezzanine"
I am trying to intergrate scheduler with mezzanine.
I installed the scheduler and did dependancy
but python manage.py makemigrations and migrate didn't work

thanks  in advance~

[2017-12-24 03:04] sasimi19 commented on #367
i solved migrate things but to import schedule.urls and include.schedule thing in mezzanine urls.py doesn't work

help me plz

[2017-12-26 19:46] sinanthottan commented on #358
Hi @llazzaro
Sorry to trouble you, i am new to django. Could not figure out how to display the calendar.
Installation completed, but i have no clue on how to use the code on view.py and display my calendar
Your support is much appreciated.

Thank you

[2017-12-29 16:28] wojtekkloc opened #368 "Skipped months for 'last day of the month' case (freq=monthly, bymonthday=31,-1)"
**Use case:** when I set start to 31/12/17 and end to 31/12/18 I want to get occurrences in every month, on 30th's in months with 30 days and on 28th for February.

dateutil doc says:

**Problem:** after using these params still only occurrences in months with 31 days are returned.

**Possible fix:**
in models.events._event_params there is a condition "if sp == ..." which overwrites list of param

[2017-12-29 17:38] sinanthottan commented on #348
Hello @ataktwo
I was wondering where did you get this tag from?
{% month_table moovement month 'small' %}

Was looking for a tutorial on how to display the calendar and never found any good article. Can you please help me out.

Thanks

[2017-12-30 00:47] ataktwo commented on #348
Frankly @sinanthottan I am a beginner with Django and everything I have done is trial and error so I'm not sure how much help I can be to you.

The template tags that information came from is [http://django-scheduler.readthedocs.io/en/latest/template_tags.html](url)

If you look in your site-packages within your python library you will find the templatetag options within scheduletags.py. Mine was

[2018-01-01 13:32] sinanthottan commented on #354
Hello @bhowmikp  Can you please help me with a sample code for view and html page to view the full calendar?
I am new to django.

Thanks in advance

[2018-01-01 22:00] bhowmikp commented on #354
@sinanthottan A sample of the code can be found at [https://github.com/llazzaro/django-scheduler-sample](here)

[2018-01-02 13:51] jdufresne commented on #357
IMO, the `_BASE_CLASSES` feature is a difficult to maintain feature with lots of unusual edge cases and unexpected consequences. I think the project should consider dropping it to ease maintainability, predictability, and consistency with other reusable Django apps. My project uses quite a few reusable Django apps and I'm not aware of any other using a similar `_BASE_CLASSES` like feature, which m

[2018-01-02 14:15] ggarcia24 commented on #357
Hi @jdufresne, well actually no, could you please point me to some documentation that I can read while investigating how to add a custom field/attribute to an event, the only information that I found was to do it using Custom Base Class :-)

[2018-01-02 14:25] jdufresne commented on #357
Unfortunately, I do not see anything in the documentation. It would probably be a good addition though.

For reference, here is the method to create a relationship:

https://github.com/llazzaro/django-scheduler/blob/0.8.6/schedule/models/events.py#L517

Here is a unit test using the feature:

https://github.com/llazzaro/django-scheduler/blob/0.8.6/tests/test_event.py#L339-L358

Here is some other

[2018-01-02 19:29] jdufresne commented on #367
Can you provide additional details? What exactly does your `urls.py` look like and please provide a full stack trace? Do you have a minimal example project or steps to reproduce to demonstrate the issue? There are not enough details provided to debug the issue.

[2018-01-03 03:32] #361 closed

[2018-01-03 04:13] jdufresne commented on #357
I've created a proof of concept of my proposal above at  #377. All feedback on it is welcome.

[2018-01-03 04:20] jdufresne opened #378 "Deprecate and remove the old calendar views in favor of FullCalendar"
I'd like to propose that django-scheduler begins deprecating and removing the old views in favor the new FullCalendar views. It seems like an unnecessary amount of extra maintenance burden to maintain two sets of frontends. IMO, the FullCalendar work was a very nice improvement and so I suggest focusing future work in that direction. Removing the extra views should help reduce the complexity of th

[2018-01-04 03:37] jdufresne commented on #359
@drmatthews With the details provided, I'm unable to reproduce.

I tried to reproduce this using the [django-scheduler-sample](https://github.com/llazzaro/django-scheduler-sample/), but I was unable to. Can you reproduce this using that project? If not, can you provide a minimal project or example to reproduce this? Or provide explicit steps to reproduce?

[2018-01-04 03:43] jdufresne commented on #358
Hi, thanks for reporting this issue. This looks like a duplicate of #167, which will be resolved by writing a tutorial for django-scheduler. If you have additional feedback to add on the subject, that issue would be a good sport to do so. Thanks.

[2018-01-04 03:43] #358 closed

[2018-01-05 03:40] jdufresne opened #381 "Next release (with Django 2.0 support)"
@llazzaro

I'd like to document what is required to make the next release happen. My projects are waiting on the Django 2.0 support. If there are any specific blocker tickets, let me know, I'm happy to help out and fix them.  Thanks for the django-scheduler!

[2018-01-05 20:48] jdufresne commented on #364
@llazzaro What do you think about the change proposed in llazzaro/django-scheduler-sample#32? Or would you rather I universally apply the URL namespace across the entire library? I'm open to either approach.

[2018-01-06 18:32] #364 closed

[2018-01-06 18:33] llazzaro commented on #364
I'm always in doubt about this. Just avoid changing all urls in the project for now.
I'm open to changing this in the future.
PR on sample was merged.

[2018-01-07 17:50] jdufresne commented on #44
Was fixed in 96443d3fdcdba5124ae7fdfac4af8fa9cc5201c2

[2018-01-07 17:50] #44 closed

[2018-01-07 18:02] jdufresne commented on #167
Seems like a duplicate of #97

[2018-01-07 18:02] #167 closed

[2018-01-07 18:03] jdufresne commented on #348
I believe this is a duplicate of #97 which suggests to write a tutorial for  basic use.

[2018-01-07 18:03] #348 closed

[2018-01-07 18:07] jdufresne commented on #330
Thanks.

[2018-01-07 18:07] #330 closed

[2018-01-07 18:08] jdufresne commented on #314
This was answered. Closing.

[2018-01-07 18:08] #314 closed

[2018-01-07 18:14] jdufresne commented on #306
I agree. Given these practical limitations and buggy edge cases, I've suggested to remove this feature from django-scheduler. See #377.

Arbitrary `Event` relationships already exists as a feature through the `EventRelation` model.

[2018-01-07 18:19] jdufresne commented on #50
Done in #110

[2018-01-07 18:19] #50 closed

[2018-01-07 18:22] jdufresne commented on #62
Unit tests exist:

https://github.com/llazzaro/django-scheduler/blob/develop/tests/test_periods.py

[2018-01-07 18:22] #62 closed

[2018-01-07 18:33] jdufresne commented on #71
I believe this feature already exists by utilizing the `CHECK_CALENDAR_PERM_FUNC` function paired with a `CalendarRelation`

[2018-01-07 18:33] #71 closed

[2018-01-07 18:40] jdufresne commented on #131
PR was merged.

[2018-01-07 18:40] #131 closed

[2018-01-07 18:41] jdufresne commented on #135
https://pypi.python.org/pypi/django-scheduler

Wheels are available.

[2018-01-07 18:41] #135 closed

[2018-01-07 18:44] jdufresne commented on #197
Duplicate of #192

[2018-01-07 18:44] #197 closed

[2018-01-07 18:58] jdufresne commented on #304
I believe this is a duplicate of #109

[2018-01-07 18:58] #304 closed

[2018-01-09 01:21] WakeRealityDev commented on #381
I'm trying to get it working with Django 2.0.1 and confuse.d  The demo app seems to say Django 2.0 is there, and was updated 29 days ago with references to Django 2.  However, it looks for a django-scheduler 0.8.7 that it can't find.

Refrence: https://github.com/llazzaro/django-scheduler-sample/blob/master/requirements.txt

[2018-01-09 03:23] #270 closed

[2018-01-09 03:39] jdufresne commented on #381
@llazzaro I saw you updated the version number. You'll need to merge #386 before releasing, but please let CI tests pass before merging. Thanks!

[2018-01-09 05:09] #310 closed

[2018-01-09 05:09] #357 closed

[2018-01-09 05:09] #306 closed

[2018-01-09 05:11] #221 closed

[2018-01-09 05:11] #242 closed

[2018-01-09 05:22] llazzaro commented on #381
0.8.7 with django 2.0 support was released.
Please let me know if you find any issues!

[2018-01-09 05:22] #381 closed

[2018-01-09 08:52] m-vdb commented on #306
@llazzaro @jdufresne I really think that we should have an alternative solution. `EventRelation` is a bit clumsy IMHO and I really think that having relationships complexifies everything, when through a simple setting we could just point to the model we want to use. In my use case, I add a few fields for each event and it doesn't make sense to have these pieces of information scattered in relation

[2018-01-09 14:18] jdufresne commented on #306
Can you provide more concrete details that shows why they're clumsy, complex, or otherwise less than ideal? I understand you don't like `EventRelation`, but it isn't clear to me why. It seem very flexible to me.

I normally prefer to keep settings to minimum unless they offer real advantages that are not easily approachable through other means. What are some examples of these additional fields? Do

[2018-01-09 14:33] m-vdb commented on #306
Here is the `BaseEvent` model I declared:
[code]

Here `event_type`, `cancelled` and `last_notification_locked_at` are fields that describe an event: for me it makes little sense to define that in a relationship to the `Event` model. Also, the simplicity of defining a `ForeignKey` on the `Event` model for the `company` field completely makes the use of `EventRelation` irrelevant. I don't say that

[2018-01-09 14:47] jdufresne commented on #306
If you're up for it, a POC would help illustrate the ramifications. We could then discuss the concrete implementation. If possible, I'd like to see tests included for the edge cases that prompted the removal of the previous base classes attempt.

[2018-01-09 14:49] m-vdb commented on #306
👍 ok will give it a try and will see if these tests can be written

[2018-01-10 10:09] m-vdb commented on #306
@llazzaro @jdufresne there you go #389. LMK what you think

[2018-01-11 10:41] BakanovKirill commented on #257
Thumb this up, i had to monkey patch this to work properly, this is not the logical behavior. Persisted occurreces of period should be inside that period!

[2018-01-13 20:13] WakeRealityDev opened #400 "Devs: HowTo 'git clone' this project and edit on the python and run on Linux?"
Hi.  I'm new to django and confused on how to download this project from a github checkout in a way that I can run and edit the python source directly from the project directory structure.

I'm on Ubuntu Linux 16.04. Here are the steps I'm following so far:

    git clone https://github.com/llazzaro/django-scheduler.git
    cd django-scheduler/
    virtualenv -p python3 env --no-site-packages

[2018-01-13 21:48] llazzaro commented on #400
This is a django app and not a django project.
You need to first bootstrap a django app and then install the project using:

using develop allows you to change the code

[2018-01-14 04:03] WakeRealityDev commented on #400
I'm still a bit lost in details, because other projects I have found tend to have a test folder that contains manage.py... and I'm new to django structure understanding.  Here is another stab at the issue:

    mkdir zztemptry1
    cd zztemptry1
    mkvirtualenv django-scheduler
    workon django-scheduler
    git clone https://github.com/llazzaro/django-scheduler.git django-scheduler
    cd djang

[2018-01-14 18:11] llazzaro commented on #400
this project need some tutorial see issue #97 for status

[2018-01-14 18:11] #400 closed

[2018-01-18 14:35] R3D2 opened #407 "Next Freetime ?"
I can't figure out how to retrieve the next free time in a given range of date, I read the documentation multiple times, and I can't understand where to put my code... Hope someone can help me.

[2018-01-25 19:20] sinanthottan commented on #231
@stratoukos Can you please help me set rules for Weekly every Thursday and Sunday. I tried setting up params= byweekday:3,5;
but it takes only 3. How can i set multiple days in a week?

[2018-01-27 11:35] #407 closed

[2018-01-27 12:35] sinanthottan commented on #231
@stratoukos Can you please help me set rules for Weekly every Thursday and Sunday. I tried setting up params= byweekday:3,5;
but it takes only 3. How can i set multiple days in a week?

[2018-01-27 14:03] sinanthottan commented on #29
@mpaolino  I am trying for multiple days in a week.
frequency = "WEEKLY", name = "Every TH and SAT", params='BYDAY=3,5;BYSETPOS=-1
This is not working out. I am newbie, can you please guide me to create a recurring event which occurs Weekly every Thursday & Saturday.

Thanks in advance

[2018-01-27 19:08] llazzaro commented on #407
did you solved the issue?

[2018-01-27 19:09] R3D2 commented on #407
Nope, I don't wanted to bother with my question. So I closed it.

On 27 Jan 2018 20:08, "Leonardo Lazzaro" <notifications@github.com> wrote:

[2018-02-06 16:22] lggwettmann opened #411 "get_occurrence() throws error when occurrence time has changed"
I get an attribute error
```'NoneType' object has no attribute 'tzinfo'```

when calling get_occurrence() with a datetime of an occurrence with a changed start datetime.

Scheduler doesn't seem to be able to find 'next occurrence' (which should in the end be the searched for occurrence) in this part of the code:
[code]

[2018-02-06 20:49] lggwettmann commented on #411
I just found out that get_occurrence() is supposed to find an occurrence by its original_date, not by its date. I am assuming that we should keep the function as it is used by other code.

Could I hand in a PR to add a get_occurrence_by_date(start_date) and add some comments in the original get_occurrence() to make it clearer for others what's happening?

[2018-02-23 12:36] schmalzbauerlukas94 opened #412 "Basic Sample with Forms and own Model"
I've been currently trying to integrate the Scheduler-App into my own project. Beforehand I attempted to implement a scheduler by myself with recurring events etc., however as I am quite a beginner in coding I failed quite early on my way. So I found your project and now I try to do the following:

- Create a calendar and allow filtering for resources (+ a show all resources option)
- Create event

[2018-03-01 09:15] frague59 opened #413 "ListView provided 2 times in urls"
Hi,

The pattern r'^$' is declared twice in the urls.py file.

Thanks for your great tool !

[2018-03-01 12:18] frague59 opened #414 "Change the first day of week"
Hi,

For now, the first day of week is Sunday, but here in France (and in other countries in Europe), the first day of week is mainly Monday.

Is there a way to change the first day of week in django-scheduler ?

Thanks for this great project !

[2018-03-01 13:31] #344 closed

[2018-03-04 21:35] lggwettmann commented on #412
Hey, what helped me a lot to get started is to create your own classes and inherit the classes provided by django-scheduler. Eg. I have a class Course(scheduler.Event). You can then add attributes to that class for each resource you need to connect with it (Locations, Doctors,..). Changing the recurring event's properties is quite difficult if you ask me. I added some code to each event can have a

[2018-03-07 14:08] lukeba1 commented on #412
Thank you for your response - I would appreciate your help, thus sending the code or posting it here would be great.

[2018-03-08 14:43] lggwettmann commented on #412
I'll try to send it or hand in a PR tomorrow or over the weekend.

[2018-03-13 08:39] manel00 opened #416 "How to repair "ugly" django scheduler?"
Hi everyone,

I'm trying to test your app (within your own sample_project) and I'm retrieving every html without beauty, what does it need? There's some process on installation what replace everything on assets (I think that's collectstatic method). Below I pasted my screenshot:

<img width="700" alt="captura de pantalla 2018-03-13 a las 9 31 51" src="https://user-images.githubusercontent.com/8410

[2018-03-13 19:49] llazzaro commented on #416
are you using jquery in you project? did you install js depencies?

[2018-03-13 20:00] manel00 commented on #416
I did everything you told on settings.py<http://settings.py>, i'm just trying to make the sample_project works.

Im using just your sample project, the demo, i didnt install anything out of your README. What do you think about it?what does it need?

Thanks

Regards

Enviado desde mi Redmi Note 4
El 13 mar. 2018 8:49 p. m., Leonardo Lazzaro <notifications@github.com> escribió:<br type="attributi

a

[2018-03-15 03:49] wyyang opened #417 "fullcalendar v3 api call problems"
In _api_occurrences
[code]
It's looking for date and time separated by space. In fullcalendar v3, it's sending queries like start=2018-03-14T00%3A00%3A00-07%3A00&end=2018-03-15T00%3A00%3A00-07%3A00&_=1521084740894, where date and time are separated by 'T', causing a 400 error.

I wonder if a simple change can be made like
[code]

and have a 0.8.6a release. I can't use python 3 right now and thus n

[2018-03-20 17:19] mikekeda commented on #416
do you have any errors in browser console (404 or js errors)?

[2018-03-20 17:41] mikekeda commented on #417
probably related to #415

[2018-03-20 17:52] mikekeda commented on #414
it's configurable https://fullcalendar.io/docs/firstDay

Example:
`            $('#calendar').fullCalendar({
                events: '/schedule/api/occurrences?calendar_slug={{ profile_user.username }}&timezone={{ profile.timezone }}',
                ignoreTimezone: false,
                timeFormat: 'H:mm',
                firstDay: 1
            });`

[2018-03-21 03:59] krutaw commented on #359
I managed to duplicate the error using the django-scheduler-sample.  Here's how:

[code]
What's happening is that the fullcalendar implementation is sending time information in addition to the date information when the defaultView requires only a date field.  The URL that errors in the javascript console looks like this:

http://127.0.0.1:8000/schedule/api/occurrences?calendar_slug=my_special_slug

[2018-03-21 04:12] krutaw commented on #417
This is also related to #359.  This absolutely solved my problem there.  👍

[2018-03-21 04:13] krutaw commented on #359
See #417 for how to fix this. :)

[2018-03-28 09:49] artemistomaras commented on #416
Write your own views

[2018-04-04 04:02] 101pagejimmy commented on #236
Has this ever been resolved? I am using Python 3.6 and Django 1.11 and I am still receiving the same issues when attempting to delete single occurrences (i.e - 'NoneType' object has no attribute 'event'). This is after switching from Django 1.8 and Python 2.7 to attempt to fix the problem but to no avail. Even after downloading the django-scheduler example from git I had the same issue when attemp

[2018-05-30 13:52] BakanovKirill opened #419 "RE: Removed SCHEDULER_BASE_CLASSES"
Hi there.
Do you have any suggestion how to migrate the production database which was using that feature prior to this update?
I haveseveral m2m and other fields added via my AbstractEvent base class.

[2018-06-03 21:49] llazzaro commented on #419
Can you provide an example?

[2018-06-03 21:50] llazzaro commented on #419
I will try to see https://github.com/llazzaro/django-scheduler/pull/389, it could solve your issue.

[2018-06-07 20:09] RevolutionTech opened #420 "Performance: _get_sorted_occurrences() performs a SQL query for every event"
I ran effectively the following code:
[code]
and here is a result from `django-debug-toolbar`:
<img width="1420" alt="django-scheduler duplicated sql" src="https://user-images.githubusercontent.com/6820092/41122295-ae02e168-6a60-11e8-9b40-126877e72b13.png">

It seems that one SQL query are being duplicated for every event in order to get the event description (if the occurrence description is `NUL

[2018-06-07 23:36] aubricus commented on #302
Just my 2c:

If you can expose the urls through an app hook you should be able to attach this to a DjangoCMS page no problem.

That said you're free to import the urls as normal, if they are higher in the chain than the dynamic DjangoCMS urls. Just avoid creating any DjangoCMS app that expects to consume a url identical to this app's urls.

[2018-06-08 00:25] aubricus opened #421 "RRule Examples"
Learning python dateutil rrule and how it applies to the `params` field in events is a bit daunting.

Any chance you can post here some common examples?

Possible Simple Rules:

* Event repeats Monthly
* Event repeats Weekly
* Event repeats Daily
* Event repeats Hourly

Possible more complex examples:

* Event repeats weekdays (M,T,W,T,F)
* Event repeats 3x a day on Monday and Wednesday

Thoughts?

[2018-06-08 00:44] aubricus commented on #421
This section of the docs is semi-helpful:

http://dateutil.readthedocs.io/en/stable/rrule.html#rrule-examples

[2018-06-08 16:08] BakanovKirill commented on #419
Thanks, i will work and try to work on that after merging the swappable-models PR.

[2018-06-08 17:36] llazzaro commented on #419
@BakanovKirill if you give a try to that fork please tell me your opinion. I will try to find freetime next weekend.

[2018-06-08 20:53] mezitax opened #422 "What do I need to extend shedule.abstractevent to my own model?"
What do I need to import in my models.py to extend the schedule.AbstractEvent to my own models?
As much as I try to extend it, I always have the same error
`AttributeError: 'Settings' object has no attribute 'SCHEDULER_CALENDAR_MODEL'`
This could fix it by hacking this line of sceduler events.py but it's not the idea.
[code]

I think maybe I'm doing something wrong and I have to do some other edit

[2018-06-14 16:00] JordanTchoukanski commented on #167
I disagree, I think the maker made things quite clear and there is plenty of documentation. I just love the logic. There is a lot of thought that went into building this. Besides, without bower, it's only the url problems that arise, and even better the models are super hack-able, clever and you can make your own views and urls that do exactly what you want. The guy did a fantastic job. You can ju

[2018-06-16 17:14] lggwettmann commented on #421
You can add general rrule params in the params field separated by semicolons in the format:
[code]

[2018-06-16 17:18] lggwettmann commented on #167
Sounds great @JordanTchoukanski , but lots of other people (including me) seem to not understand it as clearly as you do. If you happen to have some spare time, lots of us would appreciate a short tutorial or blog post on how you use it so easy and flexible in various scenarios.

[2018-06-17 14:38] JordanTchoukanski commented on #167
I think you misunderstood - I don't claim to understand or to be able to provide a tutorial. I hate to get boring here but time and timekeeping in general is very complicated. I was just happy to take advantage of the guy's logic, and in a few days to have some progress. It's very complicated in general.  I don't have a plug and play solution.

I can tell you what I did and maybe it will help you

[2018-06-17 14:52] JordanTchoukanski commented on #167
I think you misunderstood - I don't claim to understand or to be able to provide a tutorial. I hate to get boring here but time and timekeeping in general is very complicated. I was just happy to take advantage of the guy's logic, and in a few days to have some progress. It's very complicated in general.  I don't have a plug and play solution.

I can tell you what I did and maybe it will help you

[2018-06-17 14:55] JordanTchoukanski commented on #167
I think you misunderstood - I don't claim to understand or to be able to provide a tutorial. I hate to get boring here but time and timekeeping in general is very complicated. I was just happy to take advantage of the guy's logic, and in a few days to have some progress. It's very complicated in general. I don't have a plug and play solution.

I can tell you what I did and maybe it will help you -

[2018-06-17 14:56] JordanTchoukanski commented on #167
I think you misunderstood - I don't claim to understand or to be able to provide a tutorial. Time and timekeeping in general is very complicated. I was just happy to take advantage of the guy's logic, and in a few days to have some progress. It's very complicated in general. I don't have a plug and play solution.

I can tell you what I did and maybe it will help you - that is all I can do.

I took

[2018-06-21 05:44] llazzaro commented on #416
I think he has issues with css giving 404.
templates on this project are very old I was thinking to remove them and add api end points.
What do you think about this?
Does any body uses scheduler views? I think most of the people uses the model and fullcalendar api

[2018-06-21 16:04] mikekeda commented on #416
+1 to remove views

[2018-06-23 22:01] mezitax commented on #422
finally create my event like this:
[code]
it works better for me than other methods to add it to my calendar
to get the events of this moment, in my view:
[code]

I already have my views to filter subject according to different parameters.
But what I still can not do is **get the occurrences of my subject.event for now**.

How do you do this with subject.event?

[2018-06-26 19:32] mezitax commented on #422
I finally did it!
I close this issue
you should improve the documentation, I was looking for answers online, but all I found were more people asking questions about this library

[2018-06-26 19:32] #422 closed

[2018-06-28 10:20] jankopacek opened #424 "Django Signal sending"
Would it be possible to send django signals on API requests for easier integration with other apps?

[2018-07-03 18:06] rlalik commented on #120
I (and also the community I think) would also appreciate the documentation of the model.

For me not clear is that why there is a definition of start,end in Event, and what is the original_start,end in Occurrences.
Having the start,end fields in the Events is somehow against the philosophy presented in the documentation: https://django-scheduler.readthedocs.io/en/latest/overview.html

[2018-07-03 22:01] aubricus commented on #421
Thanks @lggwettmann

I was thinking it would be helpful to post some examples of commonly used rules and how to configure them (since there are no defaults) without needing a complete understanding of python date rrules.

Even a link in the docs models section to this bit would be helpful: https://github.com/llazzaro/django-scheduler/blob/develop/schedule/models/rules.py#L23-L50

This is getting i

[2018-08-15 14:47] pinksharpii opened #425 "How to view calendar?"
I installed this plugin and am using it with Django CMS. I created a calendar and an event on that calendar. When I try to View on Site, I just get:

Is there something I'm supposed to put in my urls.py? Does a calendar have its own page? I don't see any way to add a calendar plugin to an existing page through the CMS?

[2018-08-18 00:00] Jaime5 opened #426 "Is there an option to make the scheduler transform an event's occurrences into real database values?"
Meaning we want real individual model objects in the Django admin for each occurrence of a recurring event.

[2018-08-20 01:42] Jaime5 commented on #426
when creating the event, ended up using event.get_occurrences and then iterating through each one of those (making sure the item doesn't exists in the DB already) and if not in DB -> save the object.

[2018-08-20 01:42] #426 closed

[2018-09-03 12:03] RadkaKittova commented on #122
@denisemauldin Hi Denise, I am getting the same error as you did. Did you find the way how to fix it? Thank you!

[2018-09-07 19:01] hybridpicker opened #428 "Bad Request schedule/api"
Trying to get it workin in my project.  Models and Admin Section works fine. Calendar is showing up put getting Bad Request: "Bad Request: /schedule/api/occurrences
[07/Sep/2018 17:42:52] "GET /schedule/api/occurrences?calendar_slug=example&start=2018-08-26&end=2018-10-07&_=153634
2172571 HTTP/1.1" 400 39"

[2018-09-17 07:58] artemnesterenko opened #429 "Wrong related_name for creator in the Event model"
https://github.com/llazzaro/django-scheduler/blob/b5b32153ccac8fc97ae3e14465ec29c7611260e6/schedule/models/events.py#L65
It's quite confusing that the User model will have a field `creator` being a related events manager.
Probably, here should be `events` instead of `creator`.

[2018-09-18 16:35] #428 closed

[2018-11-02 10:32] hybridpicker opened #430 "Url-Patterns"
Tried to work with this code into my urls.py:

re_path(r'^schedule/', include('schedule.urls')),

When I'm trying to add a calendar through the admin section it gives me an 404, raised by schedule.views.CalendarView

[2018-11-08 01:19] tyctor commented on #421
Hallo guys

is there some reason why to not use dateutil.rrule.rrulestr for parsing rule params?
for example i want repeat rule on first Monday every month, can i cant achieve this in scheduler Rule params?

with rrulestr i can do:
[code]

[2018-11-08 04:15] tyctor commented on #421
i have looked into code
probably only `get_rrule_object` of Event model is enough to rewrite
this is working for me:
[code]

[2018-11-14 10:00] #430 closed

[2018-11-14 10:09] hybridpicker opened #431 "Must 'title' be required?"
First of all, I really like your work here it works perfect to me.
I'm working on a project where I'd like to get the 'title' parameter from another class in another App. Because of the fact that in every event 'title' is required and the meta is not abstract=True it is nearly impossible to change that through inheritance or another way.
Would it be possible to change the meta (title is not requir

[2019-01-17 14:56] Ambrose32 commented on #294
I also get the full calendar from django-scheduler-sample to work, but when I copy the project_sample folder to my project as an app and add its urls to my main urls.py, I get this error. How did you fix this issue?

[2019-01-18 04:07] llazzaro commented on #294
paste here the relevant code of your urls.py

[2019-01-18 04:18] Ambrose32 commented on #294
Hi @llazzaro. Thank you very much for helping me.

My main urls.py,:

`
urlpatterns = [
    path('', include('classroom.urls')),
    path('', include('project_sample.urls')),
    path('accounts/', include('django.contrib.auth.urls')),
    path('accounts/signup/', classroom.SignUpView.as_view(), name='signup'),
    path('accounts/signup/student/', students.StudentSignUpView.as_view(), name='student

[2019-02-10 20:48] knasti opened #436 "Status for specific occurrences"
I have a question regarding occurrences. In the Task class below, inherited from Event, I have some fields that are applicable for all occurrences of that specific Event/Task, such as priority and required skills, which works. But I would like for each occurrence in a given period to have a status e.g. "not assigned", "assigned", "ended", "canceled" and possibly more. Can anyone point me towards a

[2019-03-01 13:10] lggwettmann commented on #436
I solved this issue by using a model with a foreign key to Occurrence. You have to make sure in the YourModel.save() function that you persist the occurrence by saving it.

It's not a very elegant solution but I don't think subclassing Occurrence is possible at this point in time. Please correct me if I'm wrong.

[2019-03-01 13:13] lggwettmann opened #437 "Interest in occurrence count support?"
I have worked on this package and added an Event model field which makes it possible to have exactly X amount of occurrences for an event, independently from the end_recurring_period field.

If you're interested, I could send a pull request.

[2019-03-01 21:32] llazzaro commented on #437
Hi!
Yes sure if you have some time I will try to merge the pull request.
Thanks!

[2019-03-05 12:47] woodz- commented on #302
A better approach would be to fork, make those urls namespaced, then file a pull request against this repo. If you like reusable applications then follow the guidelines of django programming [namespaces](https://docs.djangoproject.com/en/2.1/topics/http/urls/#url-namespaces).
The expression "_calendar_" is such a common one. It highly endangers collisions between multiple reused applications in on

[2019-03-05 13:27] woodz- commented on #122
This issue isn't solved and I feel it definitively is a bug. See my comment to this #302 issue.

[2019-03-05 13:43] woodz- commented on #364
@llazzaro: so you dont't like your django-scheduler is being reused? Please refer to my comment on #302.

[2019-03-05 14:33] #436 closed

[2019-03-28 20:16] Russell-Jones-OxPhys opened #438 "Bower is deprecated and suggests moving to Yarn and Webpack or Parcel"
[code]
npm WARN deprecated bower@1.8.8: We don't recommend using Bower for new projects. Please consider Yarn and Webpack or Parcel.

**You can read how to migrate legacy project here: https://bower.io/blog/2017/how-to-migrate-away-from-bower/**

the link explains how to use bower-away https://github.com/sheerun/bower-away to create a dependencies list for Yarn (packages.json) as part of migrating

[2019-03-29 03:18] llazzaro commented on #438
Hi!
I will try to remove bower soon.
I don't have too much to time to maintain the project, but I will try to do de effort.

Thanks!

[2019-03-30 21:16] Russell-Jones-OxPhys commented on #438
I'm just playing with this, TBH, so not too committed to it, but at some point I'll have a look at https://github.com/epineda/django-yarn as an alternative to django-bower. Have you looked at it at all or do you have any thoughts on it's suitability as a replacement?

[2019-05-31 15:57] andrlik opened #443 "Cascade delete of event fails in django 2.2"
Using Django >= 2.2, if you have persisted occurrences in the database they cause an error when deleting the event.

[code]

[2019-06-05 18:04] mohitpandeyji opened #444 "Period base class of django-schedulers is not giving deleted events and it's occurrences for a period"

[2019-06-05 18:10] mohitpandeysdm opened #445 "Real time calendar sync to personal calendar"
How can we use real time calendar sync of events of our app to users personal calendar

[2019-06-05 18:18] #445 closed

[2019-06-06 14:11] andrlik commented on #443
For some reason, Occurrence objects are all considered unhashable in Django 2.2+

On django 2.1.x:

[code]

On Django 2.2:

[code]

[2019-06-06 15:30] andrlik commented on #443
Appears to be related to this Django bug: https://code.djangoproject.com/ticket/30333

[2019-06-06 15:40] andrlik commented on #443
Added a pull request to resolve the issue @llazzaro

[2019-06-11 03:35] llazzaro commented on #443
Thanks!

[2019-06-11 03:42] llazzaro commented on #364
@woodz- a lot of people are reusing the project. I'm open to the change, but I didn't have time to do it.
I think we should do this change, this project is very old and the good practices of reuse from django were not so common.
I will try to make some time to make the project more easy to be reused.
Thanks for the comment!

[2019-06-11 12:39] #443 closed

[2019-07-03 14:47] nlittlejohns opened #447 "Best way to extend events/occurrences?"
I'd like to augment events/occurrences with three things:

- Location
- Invitees
- RSVPs

For Location, my initial thought was to subclass Event and add Location as a foreign key to a Location class, but my assumption is that each occurrence saved won't then include Location, so if the location changes for one occurrence, I'll have nowhere to store that information.

In this situation, is it recom

[2019-07-03 19:34] #447 closed

[2019-07-03 20:53] nlittlejohns commented on #447
(I moved this question to Stack Overflow: https://stackoverflow.com/questions/56876972/how-to-extend-the-event-occurrence-models-in-django-scheduler)

[2019-07-10 18:11] nlittlejohns commented on #301
@lampslave did you find a solution to this? I just hit the same issue.

[2019-07-10 23:36] lampslave commented on #301
@nlittlejohns Sorry, but I don't remember. Maybe it was because of wrong class or template inheritance.

[2019-07-11 09:26] lggwettmann commented on #437
Sorry, I haven't made time to send a pull request. I just stumbled upon django-recurrence which has a really great way how handling recurrences instead of the clunky model in django-scheduler. Would we be interested in including django-recurrence as a dependency perhaps and use the database Recurrence Field in the event base class instead of the current recurrence model?

[2019-07-11 09:27] lggwettmann commented on #438
Why don't we just use webpack instead? I have been using django-scheduler with calendar-display features so far, cause I didn't want to install bower. And everyone with a JS frontend uses webpack, if I'm not mistaken?

[2019-08-28 05:27] #444 closed

[2019-08-28 21:59] katieefrey commented on #167
I know this is an old, closed issue, but I've been poking at this today, and I managed to get something working.  I had to do a bit of a workaround because I found that when I installed django-schedule i couldn't see the module itself.  Perhaps this is common when installed django extensions, but I've never done this before and I wasn't sure how to access the available views etc.  Also, I have no

[2019-08-28 22:00] katieefrey commented on #97
I was poking at this today and managed to get something working. I posted my steps in the more recent issue, even though that one is closed.... so here is a link to that.  Hope it can help someone!

https://github.com/llazzaro/django-scheduler/issues/167#issuecomment-525939202

[2019-09-29 13:21] xjlin0 opened #448 "Please consider lowering Calendar.slug length to be compatible with MySQL 5.6 with UTF8"
Thanks for developing django-scheduler and it's great!

I just found out that it cannot be run on an old env which sticks with old MySQL 5.6 for other reasons.  MySQL 5.6 index length is limited at 767, which can only cover up to 191 UTF8 characters.

django-scheduler/schedule/models/calendars.py:
[code]
If the max_length can be reduced from 200 to 191, this great app will be compatible to MySQL 5

[2019-10-03 01:59] jdufresne opened #451 "Relasee next version"
@llazzaro

I'd like like to merge PRs #450 and #449 and then cut a release. Does that sound good to you? If so, I don't mind going ahead with it.

[2019-10-04 13:42] #451 closed

[2019-10-17 13:42] lggwettmann commented on #109
This is how I prepare new event dates in Event.save(). Django-scheduler and get_occurrence and get_occurrences do not adjust the date to DST changes, I'm afraid.

[code]
Did I over look something?

[2019-10-18 09:47] lggwettmann commented on #109
So I am absolutely confused as I just noticed that saving it as I mentioned above is not encouraged, but saving dates in UTC is in general and then means Django Schedule needs to adjust the UTC date to the appropriate timezone incl. DST. But where and how does it recognize (or do I set) the timezone it should output dates in? Is there a bug in this thing or am I just completely stupid? I have been

[2019-10-25 20:51] chrisspen opened #457 "Duplicate migration"
There are two migrations with the conflicting number, 0008. This breaks Django's migrate command. Also, it looks like the `0008_calendar_slug_unique.py` migration may have been made in error since it throws an error, complaining that the unique index was created in a previous migration.

I had to delete the `0008_calendar_slug_unique.py` file to get the migrate command working again.

[2019-10-26 03:26] #457 closed

[2019-10-26 03:26] llazzaro commented on #457
thanks for reporting this issue!

[2019-10-28 02:47] #448 closed

[2019-10-28 02:49] llazzaro commented on #438
Hi!

I'm thinking of removing all js and html files of scheduler since most of the people use the model an d the api.

[2019-10-31 01:06] jdufresne opened #459 "Version 0.9.2 is missing a git tab"
Hi @llazzaro

I see a new version was released but a git tag is not in the repo. Would you mind adding a tag for the version you used?

I also see a Python 3 wheel is missing, could that be uploaded to PyPI as well?

I don't mind taking care of it, if you prefer. I just need to know the git hash is to follow through. Thanks!

[2019-10-31 03:00] llazzaro commented on #459
Sorry about this.
I just uploaded the wheel and tagged the repo.

[2019-10-31 03:00] #459 closed

[2019-10-31 03:12] jdufresne commented on #459
Thanks!

[2019-11-16 08:45] losanki opened #467 "How to adapt it to create a slotbooking system?"
Hello, I am creating an app to book facilities which have different time slots per day(mostly 30 minutes long). Currently I have a slotbooking model and when a slotbooking is done I manually create an event in the facility calendar as well as the user calendar, but I feel there must be a better way to do it. Having slight difficulty in understanding the terminology. Any help is appreciated!

[2019-11-19 04:12] llazzaro commented on #467
I think you need to use recurrent event every 30 min. You model should have a foreign key to the event and this means that the slot was reserved.
This is an initial idea and it could contain bug or issue, but I hope it helps you to kick start your problem
Hope it helps!

[2019-11-19 18:27] losanki commented on #467
Thanks, but I am not sure I understand. An event every 30 min would be a one time event right? Or if it is an event which recurs every 30 min and suppose I create 12 occurrences but I can not use FK relation to individual occurrence. I find the fullcalendar with get_occurrences api really easy to use and that's the way I was intending to use it somehow.

[2019-12-08 22:19] Liamhanninen opened #468 "SCHEDULER_ADMIN_FIELDS does not display fields from SCHEDULER_BASE_CLASSES"
I added the following to settings.py:

[code]

where testfield is a field in CalendarEventAbstract. I then traversed to `http://127.0.0.1:8000/admin/schedule/event/1/change/`. Once there (it's the event detail/edit view in the admin) I do not see testfield. I'm not sure if I'm supposed to run makemigrations or something but that didn't work either (I don't think abstract models are detected as cha

[2019-12-19 05:44] losanki commented on #467
I ended up using the event model as base for my slotbooking model and using fullcalendar's date and time input for slots instead of creating recurring event because in a sense it's implied in fullcalendar. Only now need to figure out validation to prevent overlapping events. Thanks, closing now!

[2019-12-19 05:44] #467 closed

[2019-12-31 12:54] ozeranskiy commented on #425
you need to add:
[code]
in `urls.py`

[2020-01-20 11:46] piroop opened #469 "Fullcalendar second calendar is not showing events"
Hello,
everything works perfectly fine with the first calendar I created. But the second one is not working I added several events but they're not showing up. On the first calendar I haven't this issue.
Maybe someone can help me.

[2020-01-20 15:45] llazzaro commented on #469
Hi,
Which endpoint are you using?

[2020-01-21 08:21] piroop commented on #469
What exactly do you mean by that?

[2020-01-27 06:41] losanki opened #470 "How to protect by login the occurance api?"
Hello, sorry if it's a naive question but how do I go about protecting the occurrences api? For example this works without login: http://localhost:8000/schedule/api/occurrences?calendar_slug=testcal&start=2019-01-01&end=2020-01-26

Thanks.

[2020-02-01 09:18] schlich commented on #437
@lggwettmann just wondering if you ever made any progress on this.  I, too, thought django-recurrence would be a nice fit if the functionality wasnt already implemented.  The feature i'm missing right now is the ability to designate multiple monthly conditions (i.e. 2nd and 4th tuesdays of each month)

[2020-02-03 17:47] schlich commented on #437
Is there a way to do this with the current param field for the rule model?  I can only get the "params" field working for integer values

[2020-02-05 21:48] magnetbox opened #471 "TypeError: unhashable type: 'Occurrence' when deleting event or occurrence in Django admin"

[2020-02-05 21:49] magnetbox commented on #471
File "/usr/local/lib/python3.6/site-packages/django/contrib/staticfiles/handlers.py", line 65, in __call__

    return self.application(environ, start_response)

    File "/usr/local/lib/python3.6/site-packages/django/core/handlers/wsgi.py", line 141, in __call__

    response = self.get_response(request)

    File "/usr/local/lib/python3.6/site-packages/django/core/handlers/base.py", line 75, in

[2020-02-06 23:10] AlexKoldy opened #472 "Page won't load jquery and bootstrap javascript and css, so calendar looks super ugly"
Anyone have a tutorial or way to get all the proper files without using bower?  I've tried everything and I still can't get the static files I need to load:

Failed to load resource: the server responded with a status of 404 (Not Found)
jquery.js:1 Failed to load resource: the server responded with a status of 404 (Not Found)
jquery-ui.min.js:1 Failed to load resource: the server responded with a

[2020-02-11 13:28] Debbiepimpo opened #473 "static/moment/moment.js where is it?"
I'm trying to use the schedule for weeks and i'm trying to implemented, I have an error where `static/moment/moment.js` is not found, where is this file based?

[2020-02-17 21:31] datatalking commented on #473
Hi Debbiepimpo,

if you copy and paste that file into the githubsearch and click on "this repo" you will find the file shows up in "schedule/templates/fullcalendar_script.html"

[2020-02-17 21:32] datatalking commented on #472
Why are you opposed to bower, it works. Unless you want to create something else that replaces the functionality of bower... lets just use bower.

[2020-02-18 13:56] ricosalomar commented on #421
Here are some examples:
[
    {
        "model": "<app>.rule",
        "pk": 2,
        "fields": {
            "name": "Weekly",
            "description": "Weekly",
            "frequency": "WEEKLY",
            "params": " "
        }
    },
    {
        "model": "<app>.rule",
        "pk": 3,
        "fields": {
            "name": "Monthly",
            "description": "Monthly",

[2020-03-11 11:30] sleoh opened #475 "Django Scheduler Hijacking Views"
I dont know if i'm just incompetent, but the moment i add "schedule" to installed_apps all my views/templates turn into the base scheduler view - even after i gave the scheduler a seperate url.

[2020-03-11 16:37] andrlik commented on #471
Which version of schedule are you using? Versions >= 0.9.0 should already have a fix for this issue.

[2020-03-12 16:27] #471 closed

[2020-03-17 09:16] sleoh commented on #475
i found out what the issue was by forking and editing the project. The base templates of this project and my own are both called "base.html" so my project used the scheduler "base.html" as it's base resulting in my templates not working.

[2020-03-17 09:16] #475 closed

[2020-05-20 17:03] xjlin0 commented on #472
if you prefer manual, they can be found in CDN:
https://cdnjs.com/libraries/twitter-bootstrap
https://cdnjs.com/libraries/jqueryui
https://cdnjs.com/libraries/jquery
( you can also use Django admin's jQuery django/contrib/admin/static/admin/js/vendor/jquery/jquery.min.js, or `static '/admin/js/vendor/jquery/jquery.min.js'`)

[2020-05-27 05:21] mhunchojack opened #479 "How can i add a recurring event that runs forever. Like holiday on every sunday?"
I need to add a holiday on every sunday such that appointment slots are not searched on sundays. I can add an event and a weekly rule, but, it asks me to provide an end date. How can i add an endless recurrence of an event?

[2020-06-12 10:08] practiceryan commented on #97
Is there any progress with a tutorial?
I have it installed, i have the urls included but it does nothing (only shows my default template).
I'm not sure what im doing wrong?

[2020-06-12 10:32] practiceryan commented on #425
I've added this to my urls, but no data is showing at all. I'm not sure what im doing wrong, my base template loads but nothing else.

[2020-06-13 11:28] practiceryan opened #480 "unconverted data remains: +01:00"
Hi,

Note: I'm using the fullcalendar.js as is in the sample project.

I'm calling the api/occurrences for events and its responding with:
"unconverted data remains: +01:00"

I've set both timezones (in settings.py and the fullcalendar.js) to Europe/London.
Is there something im missing?

[2020-06-15 17:47] fraank commented on #480
The FullCalendar urls generated by [Moment-Plugin](https://fullcalendar.io/docs/moment-plugins) are in the wrong format:

    http://localhost:3000/shedule/api/occurrences?calendar_slug=calendar1&start=2020-05-31T00%3A00%3A00%2B02%3A00&end=2020-07-12T00%3A00%3A00

Correct would be sth. like:

    http://localhost:3000/shedule/api/occurrences?calendar_slug=calendar1&start=2020-05-31T00%3A00%3A00&en

[2020-06-19 10:14] practiceryan commented on #480
Thank you, i seem to have put the timeZone parameter in the events block.

[2020-06-19 10:14] #480 closed

[2020-06-20 14:29] losanki opened #481 "Using occurrences"
Hello, how to add a note to an occurrence of a recurring event for example?

[2020-06-21 11:58] #481 closed

[2020-07-03 03:11] 9mido opened #482 "Use vanilla javascript instead of jquery"
Bootstrap v5 is moving to vanilla javascript. This package should do the same and put everyone on the same page without relying on jquery.

[2020-07-31 01:53] robertpro commented on #438
I am starting using this app, I would like to use HTML/JS code, I don't think I need an API so far, I am also learning wepback, so maybe I can implement django-webpack in the future.

[2020-07-31 02:15] llazzaro commented on #438
@robertpro that will be great!

[2020-08-02 22:19] robertpro commented on #438
@llazzaro I am understanding this app a little more and I see why you want to remove the HTML/JS files, I think now that's actually a good idea and I will be using the API only which works great with fullcalendar as a frontend, besides that I didn't knew how to implement webpack, I think is easier and is OK to add JS/CSS dependencies from the CDN (I might be wrong, I am just a python dev).

[2020-08-20 04:32] robertpro opened #483 "[Question] How to get the next occurrence for an event?"
Is there a way to get the next occurrence for an event ?

I am trying this:

[code]

I think this works but I need to know what is the current month and +=1 to the month, which means I need to know the rule in order to do the correct math.

I am asking for some builtin, if it does not exists, some guidance would be great.

[2020-09-02 16:25] victor-wyk opened #487 "Why do recurring events have a date?"
If I made a schedule where I goto work at 9:30 and finish at 18:00, which recurs every weekday on each week, I only have to provide the start and end times (9:30-18:00) and the RRULE (BYWEEKDAY:MO,TU,WE,TH,FR). Why are the date fields required?

[2020-09-02 16:41] victor-wyk commented on #487
Silly me, the date is when the pattern starts. So lets say Start Datetime is at 2020-09-07 09:30:00, End Datetime is at 2020-09-07 18:00:00, RRULE is BYWEEKDAY:MO,TU,WE,TH,FR. The work event will repeat every weekday starting from 2020-09-07.
Now the question is what happens if the start datetime and end datetime are more than a day apart, and recurs...

[2020-09-02 16:41] #487 closed

[2020-10-26 08:59] ysharoiko commented on #294
I am having the same issue

In template T:\_USE\schedule\content\templates\fullcalendar_script.html, error at line 35

Reverse for 'edit_event' with arguments '('', 12345)' not found. 1 pattern(s) tried: ['schedule/event/edit/(?P<calendar_slug>[-\\w]+)/(?P<event_id>\\d+)/$']

My django is 2.1.0
python 3.7

installed applications:
[code]

url.py
[code]
Any help would be appriciated

[2020-11-03 13:55] NJV19 commented on #97
I have installed the scheduler sample project however I have some questions.

1) When I started to test it I missed the possibility to create an event in the fullcalendar layout. The only way where I can create it, is the django admin backend.
2) I think the css or the design is not correct. I am including some pictures.

Can anybody help me?

![image](https://user-images.githubusercontent.com/309

[2021-01-04 20:34] josassy opened #489 "FullCalendar API does not support ISO8601 date strings w/ UTC offset"
Hi there,

There hasn't been much activity on this project lately, so I don't know if this project is still maintained, but I thought I would give a try.

From the [FullCalendar docs](https://fullcalendar.io/docs/events-json-feed), FullCalendar v5 currently requests for events using ISO8601 date strings that include a UTC offset, such as `2013-12-01T00:00:00-05:00`. When tested with django-schedul

[2021-01-04 21:31] josassy commented on #378
I agree that this is a good option. I am newer to using this project, but the current inclusion of the old HTML and CSS templates caused me to waste time digging around for how to use them before I realized that the project had moved toward using the API with FullCalendar, etc.

Technically speaking, this doesn't seem like a difficult change to implement. Is there a reason this hasn't happened yet

[2021-01-05 23:40] llazzaro commented on #378
I agree on this change also, but I don't have time to do it. Any pull request will be welcome!

[2021-01-26 20:07] guettli opened #491 "Code health image is broken"
![image](https://user-images.githubusercontent.com/414336/105899081-81ead880-601a-11eb-9992-b23b9ff28d8e.png)

https://pypi.org/project/django-scheduler/

[2021-01-27 21:32] caspoone opened #492 "Is it possible to have a timeline view?"
I am looking to create an alternative to DayPilot's timeline scheduler. Is this possible with django-scheduler?

[2021-02-13 06:03] janinesroux commented on #294
Although it's not obvious from the URL definitions, the 'fullcalendar' URL invocation requires a slug (name of the calendar). I am assuming that this is the initial attempt at calling the calendar, so I suggest you create a calendar - (in Admin with a generated slug) and then pass the slug to the call e.g.  <a class="dropdown-item text-info" href="{% url 'fullcalendar' 'J9' %}"> Full Calendar </a>

[2021-02-13 06:09] janinesroux commented on #122
Although it's not obvious from the URL definitions, the 'fullcalendar' URL invocation requires a slug (name of the calendar). I am assuming that this is the initial attempt at calling the calendar, so I suggest you create a calendar - (in Admin with a generated slug) and then pass the slug to the call e.g. " href="{% url 'fullcalendar' 'J9' %}">" fullcalendar .

[2021-02-15 13:46] af2005 commented on #489
As an easy fix, replace the above lines with
[code]

[2021-02-15 22:12] josassy commented on #489
Yes, I ended up doing something similar with external code, then handing it to the API in the `%Y-%m-%d` format. Thanks for reminding me about this issue - I will go ahead and close since there is a simple workaround.

[2021-02-15 22:12] #489 closed

[2021-02-25 16:26] ericjgreen opened #494 "issue installing on MySQL"
Hi,
I've attempted to setup a base project, base app, setup my settings.py, and attempted to run migrations. I have nothing in this project except changes to settings.py to connect to my backend MySQL, installed (via pip) the django-scheduler, added schedule to the installed apps, run makemigrations and attempted to migrate. Upon executing this, i get an error as noted below
[code]

has this issue

[2021-02-26 02:51] llazzaro commented on #494
Can you give more information about your mysql server?

[2021-02-26 14:38] ericjgreen commented on #494
Absolutely. MySQL is running on my desktop (Win10). I have not attempted to deploy anywhere else.

![image](https://user-images.githubusercontent.com/68916571/109313081-6d625180-780d-11eb-9d25-6b4717ba95cd.png)

![image](https://user-images.githubusercontent.com/68916571/109313283-a4d0fe00-780d-11eb-9bf2-11b9995d2bc4.png)

hope this helps.

[2021-02-26 14:43] ericjgreen commented on #494
including my ini file for more config details

[my.ini.txt](https://github.com/llazzaro/django-scheduler/files/6050281/my.ini.txt)

[2021-03-11 20:32] nerdoc commented on #438
@llazzaro Maybe you could split it into `django-scheduler-backend` and `django-scheduler-frontend`?

[2021-05-18 15:18] ataylor32 opened #508 "Cancelled recurring event occurrences still showing in FullCalendar"
Based on issue #378, I understand that django-scheduler is intended to be used with FullCalendar. I have a problem I'm running into when using the `api_occurrences` view.

Suppose I usually have a meeting every Monday, so I create a recurring event for that meeting. But sometimes that meeting has to occur on Tuesday instead of Monday due to holidays. I can get that to work with FullCalendar just f

[2021-05-19 19:36] ataylor32 commented on #231
I ran into this problem too. The following code creates a recurring event that occurs every Monday, Wednesday, and Friday. I have the event set to have its first occurrence on Monday, May 17, 2021. The code then prints all of the occurrences for the month of May 2021.

[code]

Expected output (every Monday, Wednesday, and Friday in May 2021 beginning with Monday, May 17th):

[code]

Actual output

[2021-05-19 20:55] ataylor32 opened #509 "api_occurrences has a bug with changed occurrences when DST is involved"
The following code creates a recurring event that usually occurs on Monday, but there are five instances where it occurs on Tuesday instead. When daylight saving time is involved, some of the events that should have been *moved* to Tuesday appear to have been *copied* to Tuesday instead (i.e. the Monday occurrence is still appearing in addition to the Tuesday occurrence).

[code]

[2021-05-19 23:29] llazzaro commented on #508
Thanks for reporting this bug!

I added a filter to cancelled occurrences.
This was released with version 0.9.4

[2021-05-19 23:29] #508 closed

[2021-05-23 09:05] xsirio commented on #494
I've the same error on mySQL on ubuntu

[2021-06-11 13:33] bastien34 opened #511 "Use app_name to ease integration in project using namespace"
Hi,
Maybe I misunderstand how django-scheduler should be implemented in my project. If I include urls.py in a sub namespace (as 'dashboard' in my case) I have these issue:
- NoReverse Match issue when loading a page (as scheduler-list)
- TemplateTags like **prev_url(target, calendar, period)** can't reverse either

So I have to include django-schedulers urls with a namespace:

# in dashboard/urls.

[2021-06-14 21:26] danemco commented on #509
I'm having this issue too. Any updates?

[2021-07-01 08:28] MichaelAchterberg commented on #274
I have the same problem with not being able to create an occurrence in order to edit a single incidence of the recurring event. How do I create the correct recurrence rule or create a link to create and edit single incidence of the event?

[2021-08-16 22:30] MUDASSARHASHMI opened #514 "24 hours Calendar for Day view"
I am working on a use case where a cleaning company works in two shifts day and night. I need to extend the time from 8:00 morning to midnight like new day starting time. I am not getting this in Day view as screenshot is attached.

![image](https://user-images.githubusercontent.com/4035789/129637052-e0dc426a-f8ce-4e59-aa42-36cc1b9fedda.png)

I tried to get all 24 hours time clock or at least star

[2021-08-17 01:15] MUDASSARHASHMI commented on #514
I fixed it with scheduledtags.py. Closing.

[2021-08-17 01:15] #514 closed

[2021-08-21 23:49] xjlin0 commented on #109
Just to reconfirm @mpaolino 's solution works, here is an example of weekly event starting 10AM every Sunday regardlessly. get_occurrence() with local time is consistent even daylight start.

[code]

[2021-09-02 20:28] aluiss opened #515 "Installed. And now?"
I have a project in progress, and i likely to add the calendar in it. How do i make it?
The calendar will be part of a web system, but it will not will have a page separate.

[2021-09-05 00:17] llazzaro commented on #515
Hi!
Please check https://github.com/llazzaro/django-scheduler-sample
Most of the users of this app use the model or the API.

I don't recommend using the current templates, since those are very old and likely to be deprecated.

I hope to update the documentation with a quickstart, this is a common question.

Thanks!

[2021-09-12 20:08] EsGeh opened #517 "django-scheduler > 0.9.3 migrate throws error on MySQL"
Hello devs,

after upgrading from version 0.9.3 to any later version, i get an error when trying to migrate.
This is obviously related to the migration 0013 and MySQ...

Output when running migrations:

[code]

System information:

[code]

[2021-09-12 23:52] llazzaro commented on #517
Hi!
I will try to take a look into it this week.
Thanks for reporting this issue

[2021-09-13 11:31] EsGeh opened #518 "Period.sorting_options not working as expected"
Sorting `Occurrence`s in combination with caching of `Occurrence`s leads to buggy behaviour.
The `sorting_options` constructor argument for `Period` doesn't work as expected i.e. `Occurrence`s in most cases are not sorted corresponding to the `sorting_options` given.
Reviewing the code I figured this is probably due to a bug excluding cached `Occurrence`s from being sorted.

I created a pull reque

[2021-09-13 20:10] llazzaro commented on #517
Hi,
I'm not able to reproduce this bug.
I think you have a model with a foreign key to a scheduler model, can you confirm this?

If you have a model with a foreign key to one scheduler model, you will need to change the type of the foreign key.
Please check migration [0013](https://github.com/llazzaro/django-scheduler/blob/develop/schedule/migrations/0013_auto_20210502_2303.py)

[2021-09-14 06:58] EsGeh commented on #517
Yes, definitely. This is in my `models.py`
[code]

(Side note: By the way, if there is a better method to extend `django-scheduler`s base classes, I'd be happy for a hint.)

What does that mean? What other types of foreign keys are there?

[2021-09-15 17:21] llazzaro commented on #517
Hi,
In migration 0013 all models id were upgraded to BigAutoField. When you use FK in MySQL, both columns must be the same type. In your case, your models are using different column type for the id.
Our migration changed the type and this broke your extension.

I think you are extending scheduler the proper way, this was an unexpected issue.

Hope it helps.

[2021-09-20 14:03] bastien34 opened #519 "Overwriting templatetags"
Hi,
Scheduletags tags return sometimes hardcoded html like:
`    return mark_safe(
        '<a href="%s%s"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>'
        % (
            reverse(f"{target}", kwargs={"calendar_slug": slug}),
            querystring_for_date(period.prev().start),
        )
    )
`
What do you advise to overwrite it? Making a kind of NewScheduletags lib is t

[2021-09-20 14:45] EsGeh commented on #517
Fixing this issue and migrating the database according to the changes introduced by django-scheduler > 0.9.3 was a nightmare.
Finally I was able to fix this issue for my project. I am going to share my approach here in the hope of helping others to save time:

Given you have a model that depends on a Model in django-scheduler (python import: `schedule`):

[code]

We shall introduce 2 migrations:

[2021-09-20 19:19] llazzaro commented on #517
Thanks for providing that information!
I'm closing this issue.
I will take a look to the open PR.

[2021-09-20 19:19] #517 closed

[2021-11-05 02:15] EsGeh commented on #109
Sad thing is @xjlin0 s example doesn't work when retrieving occurrences via a Period:

[code]

This outputs:
[code]

[2021-12-26 07:01] Shavinder opened #522 "'backports.zoneinfo.ZoneInfo' object has no attribute 'localize'"
Environment:

Request Method: GET
Request URL: http://127.0.0.1:8000/schedule/calendar/tri_month/example/

Django Version: 4.0
Python Version: 3.8.2
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.sites',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'django.contrib.humanize',
 'django.contrib.admin',
 'debu

[2021-12-31 00:46] typonaut opened #523 "error on CHECK_OCCURRENCE_PERM_FUNC(occurrence, user)"
When using the supplied sample project I can create new events, but attempting to edit or delete occurrences results in the following error:

[code]
Which, it turns out is true:

[code]

How to deal with this issue, given that the occurrence object returned is a ```None```?

[2022-01-28 14:24] #241 closed

[2022-03-21 09:03] raffael-mnhn commented on #522
I have the same issue on python 3.8

[2022-03-21 09:35] raffael-mnhn commented on #522
This is related to changes in python 3.8. It can be mitigated using:
`USE_DEPRECATED_PYTZ = True` in your settings.

[2022-03-27 11:13] llazzaro commented on #522
@raffael-mnhn thanks for the suggestion. I'm working on a fix, however, the current fix has some DST regressions.

[2022-03-27 13:25] llazzaro commented on #522
Please check branch: 522-fix-backports-zoneinfo-ZoneInfo

[2022-04-05 10:13] raffael-mnhn commented on #522
@llazzaro I just tried this out by removing django-scheduler from my requirements.txt and substituting it with `git+https://github.com/llazzaro/django-scheduler.git@522-fix-backports-zoneinfo-ZoneInfo#egg=django-scheduler` followed by pip install -r requirements.txt. Then I removed the `USE_DEPRECATED_PYTZ = True` from settings.py and ran the application. It starts up as it should and generally se

[2022-06-30 06:47] superandrew opened #526 "REST Api"
Hi, is this package compatible with DRF? Is it supported to run calendar with no frontend UI (e.g. for a mobile client)?

[2022-07-04 20:37] superandrew commented on #526
I noticed that there are API, however in the documentation (and the locally run demo) I wasn't able to find references to new event creation via API (I found the url, but I am unable to call it in POST with correct parameters). I'll try to reverse engineer the code, I was just guessing if I was missing a obvious thing in the documentation.

[2022-07-08 13:55] superandrew commented on #120
I am sorry to see that this project isn't maintaned anymore, since I came here to understand what is the idea behind the original_start and original_end fields, amongst other things. It's a very nice project.

[2022-08-02 01:05] datatalking opened #527 "Can django-scheduler coordinate schedules of two third party users with each others calendar?"
My feature request related to a user story
We can schedule an appointment between one person who visits the site and one calendar, but how do we coordinate a customer who is matched with a partner... then sync their calendars to find the time they can both meet each other?

Describe the solution you'd like
Bob the contractor and Mike the homeowner, were matched based on homedepot website search, t

[2022-08-02 01:06] datatalking opened #528 "How can django-schedule coordinate schedules of two third party users with each others calendar?"
My feature request related to a user story
We can use django calendar to schedule an appointment between one person who visits the site and one calendar, but how do we coordinate a customer who is matched with a partner... then sync their calendars to find the time they can both meet each other?

Describe the solution you'd like:
Bob the contractor and Mike the homeowner, were matched based on hom

[2022-09-10 14:22] the-moog opened #539 "docs - make html fails with errors"
CHANGELOG and docs/settings.txt have syntax errors for sphinx

to repeat
[code]

[2022-09-10 14:35] the-moog opened #541 "Feature request - indeterminate Event.end"
There are use cases where we don't know an event end.
e.g. If the event was a party it is ongoing and we don't know when the party ends.
Currently the Event model requires and end date, though it is barely used by the code (only to generate Occurances)

Suggestion:
Add a 'long grass' end date, e.g. 99 years and a field that indicates this is a best guess.
Then we can update the end date later and

[2022-09-12 13:55] xjlin0 commented on #470
Based on utils.py
[code]
Please add `CALENDAR_VIEW_PERM = True` in your settings.

[2022-09-12 14:54] xjlin0 commented on #511
Under root, putting the path include with namespace get me this error:
[code]

[2022-09-13 04:30] xjlin0 opened #543 "How to model for both place and user?"
Thanks for creating such a great package to track down time events. Could anyone know how to model the following scenario? I am looking for a way to not overbooking a room.

Let's say there is a building have meeting room 2 and room 3, and user A & B. How can each room has its own calendar so users can find what time's vacant? Also there's a need to show all bookings of the entire building. Curren

[2022-09-17 17:58] xjlin0 commented on #468
is SCHEDULER_BASE_CLASSES removed since 0.8.7?
https://github.com/llazzaro/django-scheduler/blob/develop/CHANGELOG#L73

[2022-09-17 18:21] OmenApps opened #544 "CalendarByPeriodsView references nonexistent template"
On [line 104 of views.py](https://github.com/llazzaro/django-scheduler/blob/develop/schedule/views.py#L104), CalendarByPeriodsView references a template located at "schedule/calendar_by_period.html", but this template does not exist in the repo.

A quick look through the templates folder history looks like this template may never have existed.

Am I misunderstanding something?

[2022-09-30 14:03] xjlin0 commented on #479
Give a very far date like Jan 1st, 2199?

[2022-09-30 15:37] xjlin0 commented on #421
I wish @tyctor 's code can be merged, otherwise, special days can be a bit tricky. For the following yearly examples:

US Thanksgiving (4th Thursday in November): `bymonth:11;byweekday:TH;bymonthday:22,23,24,25,26,27,28`
Mothers day(2nd Sunday in May): `bymonth:5;byweekday:SU;bymonthday:8,9,10,11,12,13,14`
US Memorial day (Last Monday of May) : `bymonth:5;byweekday:MO;bymonthday:-1,-2,-3,-4,-5,-6,